<style>
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .ti-search {
  font-size: 20px;
  position: absolute;
  padding: 17px;
  pointer-events: none;
}

/* align glyph */
.left-addon .ti-search  { left:  0px;}
.right-addon .ti-search { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  50px; }
.right-addon input { padding-right: 50px; }


</style>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="uppercase mb16">影 音</h4>
        <p class="lead mb64">
            每週主日錄音
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <div class='audio_title mb16'><span id='date'>Date</span> <span id='title'>Title</span></div>
        <audio id='sermon_audio' controls style='width: 100%'>
          <source src="" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>
      </div>
      <!--<div class='col-sm-10'>
        <div id="waveform">
          <span id='audio-loading'>Loading...</span>
          //Here be waveform
        </div>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-fire" id="playPause">
          <span id="play">
              <i class="glyphicon glyphicon-play"></i>
              Play
          </span>

          <span id="pause" style="display: none">
              <i class="glyphicon glyphicon-pause"></i>
              Pause
          </span>
        </button>
      </div>-->
    </div>
    <!--<div class="list-group" id="playlist" style='margin-top:50px;'>
      <% @maudios.each do |audio| %>
        <a href="<%= audio.path %>" class="list-group-item">
            <i class="glyphicon glyphicon-play"></i>
            <%= audio.title %>
            <span class="audio-download" class='z-index:999;'><i class='glyphicon glyphicon-download-alt'></i></span>
            
        </a>
      <% end %>
  
    </div>-->
    <ul class="list-group" id="playlist" style='margin-top:50px;'>
    <% @maudios.each do |audio| %>
        <li audio-path="<%= audio.path %>" class="list-group-item">
            <span class='audio-item' style=''>
              <span class='adate'><%= audio.date %></span> | 
              <span class='atitle'><%= audio.title %> </span>
            </span>
            <span class="audio-download" class='z-index:999;'><a href='<%=audio.path%>' target='_blank' download><i class='ti-download'></i></a></span>
            <!--<span class="badge">0:21</span>-->
        </li>
      <% end %>
    </ul>
  </div>
</section>