<div class="main-container">
	<section class="cover fullscreen image-slider slider-all-controls controls-inside slider-arrow-controls parallax">
    <ul class="slides">
      <li class="overlay image-bg">
        <div class="background-image-holder paraOn">
          <img alt="image" class="background-image" src="<%= asset_path('bg2.jpg') %>">
        </div>
        <div class="container v-align-transform" style='height: 387px;'>
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="mb16 large uppercase banner-title"><%= t('nlcc') %></h2>
              <h5 class="uppercase mb32"><%= t('connect') %></h5>
              <div class="text-center">
                <a class="btn btn-white mb32 inner-link" href="#connect">加入一個適合你的小組</a><br><br><br><br><br><br>
                <ul class="list-inline social-list mb40">
                  <li>
                    <a href="#">
                      <i class="ti-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="ti-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="ti-soundcloud"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="ti-vimeo-alt"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="align-bottom text-center hidden-xs">
                <a class='inner-link one-page-arrow' href='#whoweare'><i class="icon-angle-down infinite animated fadeInDown"></i></a>
              </div>
            </div>
              <!--<div class="modal-container mb0">
                  <div class="play-button btn-modal inline large mt-xs-0"></div>
                  <div class="foundry_modal no-bg">
                      <iframe data-provider="vimeo" data-video-id="25737856" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>
                  </div>
              </div>-->
              <!--end of modal video-->
            </div>
        </div>
      </li>
      <li class="overlay image-bg">
        <div class="background-image-holder paraOn">
          <img alt="image" class="background-image" src="<%= asset_path('bg22.jpg') %>">
        </div>
        <div class="container v-align-transform">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="mb16 large uppercase banner-title">親子講堂：如何幫助孩子聽話及養成好習慣</h2>
              <h5 class="uppercase mb16">1/21 週六 早上 11:20 </h5>
              <p style='font-size:16px;'>新年新學習，國際愛鄰協會再度邀請了大受歡迎的電台親子節目名住持人王祈老師與我們分享 0 ~ 12 歲兒童教養議題</p>
              <p style='font-size:16px;'>報名兩堂 30 元，還送一個愛鄰環保購物袋喔！</p>
              <div class="text-center hidden-xs">
                <%= link_to event_path(:id => 12, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>&nbsp; <a class="btn btn-white mb32 inner-link" href="#">報名參加</a>
              </div>
            </div>
          
          </div>
        </div>
      </li>
      <li class="overlay image-bg">
        <div class="background-image-holder">
          <img alt="image" class="background-image" src="<%= asset_path('home33.jpg') %>">
        </div>
        <div class="container v-align-transform">
          <div class="row">
            <div class="col-md-6 col-sm-8">
              <h1 class="mb16 mb-xs-16 large banner-title" style='font-size:48px;'>
                <div>親子講堂：</div>如何幫助孩子獨立負責任</h1>
              <h6 class="uppercase lead">2/18 週六 早上 11:20</h6>
              <p class="lead mb40">
                國際愛鄰協會再次邀請了大受歡迎的電台親子節目名住持人王祈老師與我們分享 0 ~ 12 歲兒童教養議題。
              </p>
              <p>報名單堂：一堂15元</p>
              <%= link_to event_path(:id => 12, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>&nbsp; <a class="btn btn-white mb32 inner-link" href="#">報名參加</a>
            </div>
          </div>
            
        </div>
          
      </li>
      <li class="overlay image-bg">
        <div class="background-image-holder">
          <img alt="image" class="background-image" src="<%= asset_path('home22.jpg') %>">
        </div>
        <div class="container v-align-transform">
          <div class="row">
            <div class="col-md-6 col-sm-8">
              <h1 class="mb40 mb-xs-16 large">New Life Christian Center</h1>
              <h6 class="uppercase mb16">Get Suppliers outside, find Jesus inside.</h6>
              <p class="lead mb40" style='font-style: italic;'>
                I am the way and the truth and the life. No one comes to the Father except through me<span class='bible'> ~ John 14:6.</span>
              </p>
              <a class="btn btn-lg" href="#">Start Exploring</a>
            </div>
          </div>
            
        </div>
          
      </li>
      
    </ul>
  </section>
  <section>
    <div class='container text-center'>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <h3 class="uppercase mb40 mb-xs-24"><%= t('serviceinfo') %></h3>
        </div>
      </div>
      <div class='row'>
        <p class='lead'>
          <%= t('date.day_names')[0] %> 11:00 AM <span class='main-color'>|</span> <i class="ti-location-pin"></i> New Life Christian Center
        </p>
        <p class='lead mb64'>
          909.333.8888 <span class='main-color'>|</span> 1518 Brookhollow Drive, Santa Ana, CA 92705
        </p>
        
        <ul class='list-inline social-list mb40 list-inline-1'>
          <li>
            <a href="https://www.facebook.com/NLCCOC/" class="social-icon si-colored si-facebook" target="_blank">
            	<i class="icon-facebook" style='line-height: 38px;'></i>
            	<i class="icon-facebook" style='line-height: 38px;'></i>
            </a> 
          </li>
          <!--<li>
            <a href="#" class="social-icon si-colored si-twitter">
            	<i class="icon-twitter" style='line-height: 38px;'></i>
            	<i class="icon-twitter" style='line-height: 38px;'></i>
            </a>
          </li>
          <li>
            <a href="#" class="social-icon si-colored si-linkedin">
            	<i class="icon-linkedin" style='line-height: 38px;'></i>
            	<i class="icon-linkedin" style='line-height: 38px;'></i>
            </a>
          </li>-->
          <li>
            <a href="https://www.youtube.com/channel/UCEp9Vc8vlj7SjQTbQEDnmPw" class="social-icon si-colored si-youtube">
            	<i class="icon-youtube" style='line-height: 38px;'></i>
            	<i class="icon-youtube" style='line-height: 38px;'></i>
            </a>
          </li>
          <!--<li>
            <a href="#" class="social-icon si-colored si-pinterest">
            	<i class="icon-pinterest" style='line-height: 38px;'></i>
            	<i class="icon-pinterest" style='line-height: 38px;'></i>
            </a>
          </li>-->
          <li>
            <a href="mailto: info@nlccoc.org" class="social-icon si-colored si-email3">
            	<i class="icon-email3" style='line-height: 38px;'></i>
            	<i class="icon-email3" style='line-height: 38px;'></i>
            </a>
          </li>
          <li>
            <a href="#" class="social-icon si-colored si-line" target="_blank">
            	<i class="iconmoon-line" style='line-height: 38px;'></i>
            	<i class="iconmoon-line" style='line-height: 38px;'></i>
            </a> 
          </li>
          <li>
            <a href="#" class="social-icon si-colored si-wechat" target="_blank">
            	<i class="iconmoon-wechat" style='line-height: 38px;'></i>
            	<i class="iconmoon-wechat" style='line-height: 38px;'></i>
            </a> 
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="container sect-about pt40" id="whoweare">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h3 class="uppercase mb40 mb-xs-24"><%= t('who') %></h3>
                <p class="lead mb64">
                    神呼召我們在北美建立一個與眾不同的教會。我們是一個負有特定使命、帶動復興的小組教會。我們期待成為一個教會的典範。靠著神的恩典，我們必須成為一個
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="projects p0 bg-dark who">
    <!--<ul class="filters floating cast-shadow mb0">
    </ul>-->
    <div class="row masonry-loader fixed-center">
      <div class="col-sm-12 text-center">
        <!--<div class="spinner"></div>-->
      </div>
    </div>
    <div class="row masonry masonryFlyIn col-md-12" style='margin: 0px;padding: 0px;'>
      <div class="col-md-3 col-sm-6 col-xs-12 masonry-item project" data-filter="People">
        <div class="image-tile inner-title hover-reveal text-center">
          <a href="#">
            <img alt="Pic" src="<%= asset_path('who2.jpg') %>" />
            <div class='thumb-title'>
              <h5 class="uppercase mb0">Passion</h5>
              <span>充滿熱情的教會</span>
            </div>
            <div class="title">
              <h5 class="uppercase mb0">Passion</h5>
              <span>充滿熱情的教會</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 masonry-item project" data-filter="Animals">
        <div class="image-tile inner-title hover-reveal text-center">
          <a href="#">
            <img alt="Pic" src="<%= asset_path('who1.jpg') %>" />
            <div class='thumb-title'>
              <h5 class="uppercase mb0">Generation to Generation</h5>
              <span>代代相傳的教會</span>
            </div>
            <div class="title">
              <h5 class="uppercase mb0">Generation to Generation</h5>
              <span>代代相傳的教會</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 masonry-item project" data-filter="People">
        <div class="image-tile inner-title hover-reveal text-center">
          <a href="#">
            <img alt="Pic" src="<%= asset_path('who5.jpg') %>" />
            <div class='thumb-title'>
              <h5 class="uppercase mb0">Compassion</h5>
              <span>充滿憐憫的教會</span>
            </div>
            <div class="title">
              <h5 class="uppercase mb0">Compassion</h5>
              <span>充滿憐憫的教會</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 masonry-item project" data-filter="Objects">
        <div class="image-tile inner-title hover-reveal text-center">
          <a href="#">
            <img alt="Pic" src="<%= asset_path('who6.jpg') %>" />
            <div class='thumb-title'>
              <h5 class="uppercase mb0">Mission</h5>
              <span>注重宣教的教會</span>
            </div>
            <div class="title">
              <h5 class="uppercase mb0">Mission</h5>
              <span>注重宣教的教會</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class='row text-center' style='background-color:#fff;'>
      <%= link_to about_path, { :class=>"btn btn-lg btn-filled mb16 mt64"} do %>
       <%= t('more.about') %>
      <% end %>
      
    </div>
  </section>
  
  
  <section class='connect'>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="uppercase mb40 mb-xs-24" id='connect'><%= t('rooted') %></h2>
          <p class="lead">
            
            Spiritual maturity is for everyone — no matter what your age is
          </p>
          <p class='lead mb40'>加入一個合適自己的小組，學習、成長並紮根。在生命中得到成長與轉變，活出基督的樣式。</p>
        </div>
      </div>
      <!--end of row-->
      <div class="row text-center">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <%= link_to cellgroups_path do %>
            <div class="image-tile hover-tile outer-title text-center">
              
              <img alt="Pic" src="<%= asset_path('cellgroups.jpg') %>" class='mb0'/>
              <div class="hover-state" style='top:35%; cursor: pointer'>
                <h1><i class="ti-search"></i></h1>
              </div>
  
              <div class="title mb0 pt16" style='background-color: #fff; color: #666;'>
                  <h5 class="uppercase mb0">細胞小組</h5>
                  <span>尋找一個小組並扎根</span>
              </div>
              <p class="mb0 pt16" style='background-color: #fff; color: #666;'>
                  小組是教會生活的機元組織，在小組中組員得到牧養、受裝備去參與服事、以及彼此造就。小組的二大宗旨是對內彼此造就，對外傳福音；透過群體及關係來為主得人，完成大使命。
              </p>
            </div>
          <% end %>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <%= link_to youngadults_path do %>
            <div class="image-tile hover-tile outer-title text-center">
              <div class="hover-state" style='top:35%; cursor: pointer'>
                <h1><i class="ti-search"></i></h1>
              </div>
              <img alt="Pic" src="<%= asset_path('youngadults.jpg') %>" class='mb0'/>
              <div class="title mb0 pt16" style='background-color: #fff; color: #666;'>
                <h5 class="uppercase mb0">年輕人大組</h5>
                <span>讓年輕人一同成長，學習服侍</span>
              </div>
              <p class="mb0 pt16" style='background-color: #fff; color: #666;'>
                讓年輕人在 神的帶領下一同成長，一起歡樂，一起侍奉 神。在交友，戀愛、婚姻等人生大事上，有好的見證和榜樣。 
              </p>
            </div>
          <% end %>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <%= link_to children_path do %>
            <div class="image-tile hover-tile outer-title text-center">
              <div class="hover-state" style='top:35%; cursor: pointer'>
                <h1><i class="ti-search"></i></h1>
              </div>
              <img alt="Pic" src="<%= asset_path('children.jpg') %>"class='mb0' />
              <div class="title mb0 pt16" style='background-color: #fff; color: #666;'>
                  <h5 class="uppercase mb0">兒童主日</h5>
                  <span>讓孩子在神國度中成長</span>
              </div>
              <p class="mb0 pt16" style='background-color: #fff; color: #666;'>
                藉由聖經故事的分享，使學生看到聖經中的主角是神。並把神的話語紮根在孩子心中，成為一生的行為準則。另外透過老師們的身教示範，以及和孩子建立關係，讓孩子學習敬畏神、愛神等美好的態度。
              </p>
            </div>
          <% end %>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  
  <section class='pt0 events' id='events'>
    <div class="fluid-container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h3 class="uppercase fade-1-4 mb64">Events & Conferences</h3>
          </div>
        </div>
        <div class="text-center swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-swiper-autoplay="5000">
              <div class='event-img'>
                <img alt="Pic" src="<%= asset_path('e2.jpg') %>" class='mb0'/>
                <div class="entry-date">18<span>Jan</span></div>
              </div>
              <div class='event-title'> 
                <p>愛鄰: 親子講座</p> 
                <p>如何幫助孩子聽話及養成好習慣</p>
              </div>
              <hr class="divider">
              <div class='event-desc'>
                Jan 18th
              </div>
            </div>
            <div class="swiper-slide" data-swiper-autoplay="5000">
              <div class='event-img'>
                <img alt="Pic" src="<%= asset_path('e3.jpg') %>" class='mb0'/>
                <div class="entry-date">31<span>Jan</span></div>
              </div>
              <div class='event-title'> 
                <p>青年大組</p>
                <p>青年每月跨組聚會</p>
              </div>
              <hr class="divider">
              <div class='event-desc'>
                Jan 31th
              </div>
            </div>
            <div class="swiper-slide" data-swiper-autoplay="5000">
              <div class='event-img'>
                <img alt="Pic" src="<%= asset_path('e2.jpg') %>" class='mb0'/>
                <div class="entry-date">21<span>Feb</span></div>
              </div>
              <div class='event-title'> 
                <p>愛鄰: 親子講座(2)</p> 
                <p>如何幫助孩子獨立負責任</p>  
              </div>
              <hr class="divider">
              <div class='event-desc'>
                Feb 21th
              </div>
            </div>
            <div class="swiper-slide" data-swiper-autoplay="5000">
              <div class='event-img'>
                <img alt="Pic" src="<%= asset_path('e3.jpg') %>" class='mb0'/>
                <div class="entry-date">31<span>Jan</span></div>
              </div>
              <div class='event-title'> 
                <p>青年大組</p>
                <p>青年每月跨組聚會</p>
              </div>
              <hr class="divider">
              <div class='event-desc'>
                Jan 31th
              </div>
            </div>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"><span><i class="ti-angle-right" aria-hidden="true"></i></span></div>
          <div class="swiper-button-prev"><span><i class="ti-angle-left" aria-hidden="true"></i></span></div>
        </div>
        
        <div class='col-md-12 text-center'>
          <a href='#' class="btn btn-fire btn-lg mt40" id='mevent'>More Event</a>
          <a href='#' class="btn btn-fire btn-lg mt40" id='tevent' style='display:none;'>Close Panel</a>
        </div>
        <div class="row frontpage moreevent mt40" style='display: none;'>
          <div class="col-md-8 col-md-offset-2">
            <div class="tabbed-content button-tabs">
              <ul class="tabs forths mb64 mb-xs-24">
                <% @categories.each_with_index do |category, idx|%>
                  <% if idx==0 %>
                  <li class='active'>
                  <% else %>
                  <li>
                  <% end %>
                    <div class="tab-title">
                      <%= t(category.name)%>
                    </div>
                    <div class="tab-content text-left">
                    <div>
                      <% category.events.each do |event| %>
                        <% if event.available? %>
                          <div class="overflow-hidden">
                            <div class="inline-block pull-left col-md-8">
                              <h6 class="uppercase mb8">
                                <%= event.latest_date_str %>
                                <%= t('date.abbr_day_names')[event.datetime.wday] %> 
                                <%= event.datetime.strftime("%I:%M %p") %> - <%= Time.at(event.datetime.to_time.to_i + 60*event.event_period).strftime("%I:%M %p") %>
                                </h6>
                              <h4><%= event.title %></h4>
                              <p class="mb0">
                                  <%= event.short_desc %>
                                  <a href="#"></a>
                              </p>
                            </div>
                            <div class="inline-block pull-right pt80 pt-xs-24 col-md-4">
                              <%= link_to event_path(event, :locale => I18n.locale), :class => "btn btn-fire btn-lg pull-right", :data => { :no_turbolink => 'true'} do %>
                                Read More
                              <% end %>
                            </div>
                          </div>
                          <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                        <% end %>
                      <% end %>
                    </div>
                    <!--end of class-->
                  </div>
                    <!--end of tab content-->
                  </li>
                <% end %>
                
              </ul>
            </div>
            <!--end of button tabs-->
          </div>
        </div>
    </div>
    <!--end of container-->
  </section>
  
  <section class="page-title page-title-4 image-bg overlay parallax" id='ministries'>
    <div class="background-image-holder">
      <img alt="Background Image" class="background-image" src="<%= asset_path('mission-cover.jpg') %>" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="uppercase mb0">Ministries</h3>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  
  <section class="portfolio-pullup ministries">
    <div class="container">
      <div class="row row-gapless masonry masonryFlyIn text-center col-md-12" style='padding: 0;'>
        <div class="col-md-3 col-sm-4 col-xs-12 masonry-item project" data-filter="">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img alt="Pic" src="<%=asset_path('worship.jpg') %>" />
                    <div class="title">
                        <h5 class="uppercase mb0">敬拜事工</h5>
                        <span>敬拜、讚美</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 masonry-item project" data-filter="">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img alt="Pic" src="<%=asset_path('equipping.jpg') %>" />
                    <div class="title">
                        <h5 class="uppercase mb0">裝備事工</h5>
                        <span>裝備事工</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 masonry-item project" data-filter="">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img alt="Pic" src="<%=asset_path('prayer.jpg') %>" />
                    <div class="title">
                        <h5 class="uppercase mb0">禱告事工</h5>
                        <span>禱告事工</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 masonry-item project" data-filter="">
              <div class="image-tile inner-title hover-reveal text-center">
                  <a href="#">
                      <img alt="Pic" src="<%=asset_path('prayer2.jpg') %>" />
                      <div class="title">
                          <h5 class="uppercase mb0">宣教事工</h5>
                          <span>宣教事工</span>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <!--end of row-->
      <div class='row text-center'>
        <%= link_to ministries_path(:locale => I18n.locale), :class => 'btn btn-filled btn-lg mb16 mt64' do %>
          更 多 事 工 資 訊
        <% end %>

      </div>
    </div>
    <!--end of container-->
  </section>
  
  <section>
    <div class="container" id='section-media'>
      <div class="row">
        <div class="col-sm-12" id='media'>
          <h3 class="uppercase">Media</h3>
          <hr />
        </div>
      </div>
      <!--end of row-->
      <div class="row">
        <div class="col-sm-12">
          <div id='owl-carousel-media' class='owl-carousel'>
            <% @mvideos.each do |video| %>
              <div class='ipost'>
                <div class="entry-image">
        					<iframe width="560" height="315" src="//www.youtube.com/embed/<%=video.youtubeID%>" frameborder="0" allowfullscreen></iframe>
        				</div>
                <div class="entry-title">
      						<h3><a href="#"><%= video.title %></a></h3>
      					</div>
      					<ul class="entry-meta clearfix">
      						<li><i class="icon-calendar3"></i><%= video.date %></li>
      						<!--<li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>-->
      						<li><a href="#"><i class="icon-film"></i></a></li>
      					</ul>
      				</div>
            <% end %>
            <!--<div class="entry-image">
    					<iframe width="560" height="315" src="//www.youtube.com/embed/ZKNiQPLZHMQ" frameborder="0" allowfullscreen></iframe>
    				</div>
    				<div class="entry-image">
    					<iframe width="560" height="315" src="//www.youtube.com/embed/Bu9T-tVh42A" frameborder="0" allowfullscreen></iframe>
    				</div>
    				<div class="entry-image">
    					<iframe width="560" height="315" src="//www.youtube.com/embed/smwlJOlGo8g" frameborder="0" allowfullscreen></iframe>
    				</div>
    				<div class="entry-image">
    					<iframe width="560" height="315" src="//www.youtube.com/embed/QBj9o76Y9dg" frameborder="0" allowfullscreen></iframe>
    				</div>
    				<div class="entry-image">
    					<iframe width="560" height="315" src="//www.youtube.com/embed/bJt86fI7138" frameborder="0" allowfullscreen></iframe>
    				</div>
    				<div class="entry-image">
    					<iframe width="560" height="315" src="//www.youtube.com/embed/ZKNiQPLZHMQ" frameborder="0" allowfullscreen></iframe>
    				</div>-->
          </div>
        </div>
      </div>
      <div class='row text-right'>
        <%= link_to videos_path(:locale => I18n.locale), class: "image-bg btn btn-lg btn-filled mb16 mt16" do %> 更 多 主 日 影 音 <% end %>
      </div>
      <div class='row'>
        <h4>最新講道錄音</h4>
        <% @maudios.each do |m| %>
        <div class='audio_title mb16'><span><%= m.date %></span> <span><%= m.title %></span></div>
        <audio controls>
          <source src="<%= m.path %>" type="audio/mp3">\
          Your browser does not support the audio element.
        </audio>
        <% end %>
      </div>
      <div class='row text-right'>
        <%= link_to audio_path(:locale => I18n.locale), class: "image-bg btn btn-lg btn-filled mb16 mt40" do %> 更 多 講 道 錄 音 <% end %>
      </div>
    </div>
    <!--end of container-->
  </section>
  
  <section class="page-title page-title-4 image-bg overlay parallax fp_give_height">
      <div class="background-image-holder">
          <img alt="Background Image" class="background-image" src="<%= asset_path('give_bg.jpg') %>" />
      </div>
      <div class="container" id='section-give'>
          <div class="row">
            <div class="col-sm-12 text-center" style='padding-top: 30px; z-index:999; color: #fff'>
              <!--<h2 class="uppercase mb8" style='color: #fff; font-weight: 700;'>We Give <span style='font-size: 20px;'><i>because</i></span> God First Gave To</h2>-->
              <h2 class="uppercase mb8 text-center">我們愛，因為神先愛我們<br>我們給，因為神先給予我們</h2>
              <p class="lead mb24">Your gift helps further the impact of the ministries of NLCC</p>
              <%= link_to give_path(:locale => I18n.locale), { :class => 'btn btn-lg mb40 mt40'} do %>
                Give Your Tithe
              <% end %>
            </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-5">
          <h4 class="uppercase">聯絡我們</h4>
          <p>
            This is the church of the living God, the pillar and foundation of truth.
          <hr>
          <p>
            1891 Alton Pkwy #C
            <br> Irvine, CA 92606
            <br> P.O Box 3184
          </p>
          <hr>
          <p>
            <strong>E:</strong> info@nlccoc.org
            <br>
            <strong>P:</strong> 949.955.9077
            <br>
            <strong>F:</strong> 949.955.9078 
            <br>
          </p>
        </div>
        <div class="col-sm-6 col-md-5 col-md-offset-1">
          <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
            <input type="text" class="validate-required" name="name" placeholder="Your Name">
            <input type="text" class="validate-required validate-email" name="email" placeholder="Email Address">
            <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
            <button type="submit">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>