<% content_for :default_navbar do %>
  <%= render 'shared/main/header' %>
<% end %>

<div class="main-container">
  <%= render 'shared/irvine/banner'%>
  <%= render 'shared/irvine/sundaytime'%>
  <%= render 'shared/irvine/about'%>
  <%= render 'shared/irvine/groups'%>
  <%= render 'shared/irvine/events'%>
  <%= render 'shared/irvine/ministries'%>
  <%= render 'shared/irvine/media'%>
  <%= render 'shared/irvine/give'%>
  <%= render 'shared/irvine/newsletter'%>
  <%= render 'shared/irvine/contact'%>
</div>