<section class="pt84 pb8">
  <div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="mb8">教 會 事 工</h2>
            <p class="lead mb40">
               教 會 事 工 小 標
            </p>
           
        </div>
    </div>
    <!--end of row-->
    <div class="embelish-icons">
      <i class="ti-marker"></i>
      <i class="ti-layout"></i>
      <i class="ti-ruler-alt-2"></i>
      <i class="ti-eye"></i>
      <i class="ti-signal"></i>
      <i class="ti-pulse"></i>
      <i class="ti-marker"></i>
      <i class="ti-layout"></i>
      <i class="ti-ruler-alt-2"></i>
      <i class="ti-eye"></i>
      <i class="ti-signal"></i>
      <i class="ti-pulse"></i>
    </div>
  </div>
  <!--end of container-->
</section>
<section class="projects p0 bg-dark">
  <ul class="filters floating cast-shadow mb0">
  </ul>
  <div class="row masonry-loader fixed-center">
    <div class="col-sm-12 text-center">
        <div class="spinner"></div>
    </div>
  </div>
  <div class="row masonry masonryFlyIn">
      <div class="col-md-4 col-sm-6 masonry-item project" data-filter="敬拜">
          <div class="image-tile inner-title hover-reveal text-center">
              <a href="#">
                  <img alt="Pic" src="<%= asset_path('worship1.jpg') %>" />
                  <div class="title">
                      <h5 class="uppercase mb0">敬拜事工</h5>
                      <span>敬拜事工</span>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 masonry-item project" data-filter="宣教">
          <div class="image-tile inner-title hover-reveal text-center">
              <a href="#">
                  <img alt="Pic" src="<%= asset_path('ilink.jpg') %>" />
                  <div class="title">
                      <h5 class="uppercase mb0">愛鄰 i-Link</h5>
                      <span>愛鄰 i-Link</span>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 masonry-item project" data-filter="裝備">
          <div class="image-tile inner-title hover-reveal text-center">
              <a href="#">
                  <img alt="Pic" src="<%= asset_path('equipping1.jpg') %>" />
                  <div class="title">
                      <h5 class="uppercase mb0">裝備事工</h5>
                      <span>裝備事工</span>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 masonry-item project" data-filter="禱告">
          <div class="image-tile inner-title hover-reveal text-center">
              <a href="#">
                  <img alt="Pic" src="<%= asset_path('praying1.jpg') %>" />
                  <div class="title">
                      <h5 class="uppercase mb0">禱告事工</h5>
                      <span>禱告事工</span>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 masonry-item project" data-filter="宣教">
          <div class="image-tile inner-title hover-reveal text-center">
              <a href="#">
                  <img alt="Pic" src="<%= asset_path('project-single-4.jpg') %>" />
                  <div class="title">
                      <h5 class="uppercase mb0">興起發光</h5>
                      <span>興起發光</span>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 masonry-item project" data-filter="宣教">
          <div class="image-tile inner-title hover-reveal text-center">
              <a href="#">
                  <img alt="Pic" src="<%= asset_path('project-single-6.jpg') %>" />
                  <div class="title">
                      <h5 class="uppercase mb0">提華那</h5>
                      <span>提華那</span>
                  </div>
              </a>
          </div>
      </div>
  </div>
  <!--end of row-->
</section>