<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59276c095bc3805e"></script>
<style>
span.addthis_inline_share_toolbox_ej7z {
    float: right;
}
.at-style-responsive .at-share-btn {
  padding: 3px;
  width: 22px;
  height: 22px;
}
</style>
<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">
		  <div class="row">
        <div class="col-sm-12">
          <h4 class="uppercase mb64 large" style='padding-left: 100px;'>矽谷生命河每日靈修小品</h4>
        </div>
      </div>

			<!-- Post Content
			============================================= -->
			<div class="postcontent nobottommargin clearfix">

				<!-- Posts
				============================================= -->
				<div id="posts" class="post-timeline clearfix">

					<div class="timeline-border"></div>

				  <!--<div class="entry clearfix">
						<div class="entry-timeline">
							16<span>Feb</span>
							<div class="timeline-divider"></div>
						</div>
						<div class="entry-image">
							<iframe src="http://player.vimeo.com/video/87701971" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
						<div class="entry-title">
							<h2><a href="blog-single-full.html">This is a Standard post with an Embedded Video</a></h2>
						</div>
						<ul class="entry-meta clearfix">
							<li><a href="#"><i class="icon-user"></i> admin</a></li>
							<li><i class="icon-folder-open"></i> <a href="#">Videos</a>, <a href="#">News</a></li>
							<li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19 Comments</a></li>
							<li><a href="#"><i class="icon-film"></i></a></li>
						</ul>
						<div class="entry-content">
							<p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis velit deserunt soluta iste repellendus officia in neque veniam debitis placeat quo unde reprehenderit eum facilis vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, reprehenderit!</p>
							<a href="blog-single-full.html"class="more-link">Read More</a>
						</div>
					</div>-->

					<!--<div class="entry clearfix">
						<div class="entry-timeline">
							24<span>Feb</span>
							<div class="timeline-divider"></div>
						</div>
						<div class="entry-image">
							<div class="fslider" data-arrows="false" data-lightbox="gallery">
								<div class="flexslider">
									<div class="slider-wrap">
										<div class="slide"><a href="images/blog/full/10.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/standard/10.jpg" alt="Standard Post with Gallery"></a></div>
										<div class="slide"><a href="images/blog/full/20.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/standard/20.jpg" alt="Standard Post with Gallery"></a></div>
										<div class="slide"><a href="images/blog/full/21.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/standard/21.jpg" alt="Standard Post with Gallery"></a></div>
									</div>
								</div>
							</div>
						</div>
						<div class="entry-title">
							<h2><a href="blog-single-small.html">This is a Standard post with a Slider Gallery</a></h2>
						</div>
						<ul class="entry-meta clearfix">
							<li><a href="#"><i class="icon-user"></i> admin</a></li>
							<li><i class="icon-folder-open"></i> <a href="#">Gallery</a>, <a href="#">Media</a></li>
							<li><a href="blog-single-small.html#comments"><i class="icon-comments"></i> 21 Comments</a></li>
							<li><a href="#"><i class="icon-picture"></i></a></li>
						</ul>
						<div class="entry-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur voluptate rerum molestiae eaque possimus exercitationem eligendi fuga. Maiores, sunt eveniet doloremque porro hic exercitationem distinctio sequi adipisci. Nulla, fuga perferendis voluptatum beatae voluptate architecto laboriosam provident deserunt. Saepe!</p>
							<a href="blog-single-small.html"class="more-link">Read More</a>
						</div>
					</div>-->

					<!--<div class="entry clearfix">
						<div class="entry-timeline">
							9<span>Mar</span>
							<div class="timeline-divider"></div>
						</div>
						<div class="entry-image clearfix">
							<div class="portfolio-single-image masonry-thumbs col-6" data-big="3" data-lightbox="gallery">
								<a href="images/blog/full/2.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/2.jpg" alt=""></a>
								<a href="images/blog/full/3.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/3.jpg" alt=""></a>
								<a href="images/blog/full/6-1.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/6-1.jpg" alt=""></a>
								<a href="images/blog/full/6-2.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/6-2.jpg" alt=""></a>
								<a href="images/blog/full/12.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/12.jpg" alt=""></a>
								<a href="images/blog/full/12-1.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/12-1.jpg" alt=""></a>
								<a href="images/blog/full/13.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/13.jpg" alt=""></a>
								<a href="images/blog/full/18.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/18.jpg" alt=""></a>
								<a href="images/blog/full/19.jpg" data-lightbox="gallery-item"><img class="image_fade" src="images/blog/small/19.jpg" alt=""></a>
							</div>
						</div>
						<div class="entry-title">
							<h2><a href="blog-single-thumbs.html">This is a Standard post with Masonry Thumbs Gallery</a></h2>
						</div>
						<ul class="entry-meta clearfix">
							<li><a href="#"><i class="icon-user"></i> admin</a></li>
							<li><i class="icon-folder-open"></i> <a href="#">Gallery</a>, <a href="#">Media</a></li>
							<li><a href="blog-single-thumbs.html#comments"><i class="icon-comments"></i> 21 Comments</a></li>
							<li><a href="#"><i class="icon-picture"></i></a></li>
						</ul>
						<div class="entry-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur voluptate rerum molestiae eaque possimus exercitationem eligendi fuga. Maiores, sunt eveniet doloremque porro hic exercitationem distinctio sequi adipisci. Nulla, fuga perferendis voluptatum beatae voluptate architecto laboriosam provident deserunt. Saepe!</p>
							<a href="blog-single-thumbs.html"class="more-link">Read More</a>
						</div>
					</div>-->
					<%= render @posts %>
          <% @posts.each do |post| %>
            <!--<div class="entry clearfix">
  						<div class="entry-timeline">
  							<%= post.date.strftime("%-d") %><span><%= post.date.strftime("%b") %></span>
  							<div class="timeline-divider"></div>
  						</div>
  						<div class="entry-image">
  							<div class="panel panel-default">
  								<div class="panel-body">
  								  <p><%= post.book %></p>
  									<%= post.short_script.html_safe %>  <%= link_to rolcc_feed_path(post), :class => 'more-link' do %> Read More <% end %>
  								</div>
  							</div>
  						</div>
  						<ul class="entry-meta clearfix">
  							<li><a href="<%= post.link %>"><i class="icon-user"></i> 矽谷生命河靈糧堂</a></li>
  							<li><i class="icon-folder-open"></i> <a href="#">每日靈修</a></li>
  							<li><a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a></li>
  						</ul>
  						<div class="entry-content">
								<p></p>
							</div>
  					</div>-->
          <% end %>
          <!--
          <div class="entry clearfix">
						<div class="entry-timeline">
							10<span>Feb</span>
							<div class="timeline-divider"></div>
						</div>
						<div class="entry-image">
							<a href="<%= asset_path('blog/full/17.jpg') %>" data-lightbox="image"><img class="image_fade" src="<%= asset_path('blog/standard/17.jpg') %>" alt="Standard Post with Image"></a>
						</div>
						<div class="entry-title">
							<h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
						</div>
						<ul class="entry-meta clearfix">
							<li><a href="#"><i class="icon-user"></i> admin</a></li>
							<li><i class="icon-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a></li>
							<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13 Comments</a></li>
							<li><a href="#"><i class="icon-camera-retro"></i></a></li>
						</ul>
						<div class="entry-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus voluptate id aperiam ea ipsum magni aut perspiciatis rem voluptatibus officia eos rerum deleniti quae nihil facilis repellat atque vitae voluptatem libero at eveniet veritatis ab facere.</p>
							<a href="blog-single.html"class="more-link">Read More</a>
						</div>
					</div>

          <div class="entry clearfix">
						<div class="entry-timeline">
							17<span>Mar</span>
							<div class="timeline-divider"></div>
						</div>
						<div class="entry-image">
							<a href="http://themeforest.net" class="entry-link" target="_blank">
								Themeforest.net
								<span>- http://themeforest.net</span>
							</a>
						</div>
						<ul class="entry-meta clearfix">
							<li><a href="#"><i class="icon-user"></i> admin</a></li>
							<li><i class="icon-folder-open"></i> <a href="#">Links</a>, <a href="#">Suggestions</a></li>
							<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 26 Comments</a></li>
							<li><a href="#"><i class="icon-link"></i></a></li>
						</ul>
					</div>

          <div class="entry clearfix">
						<div class="entry-timeline">
							3<span>Mar</span>
							<div class="timeline-divider"></div>
						</div>
						<div class="entry-image">
							<blockquote>
								<p>"When you are courting a nice girl an hour seems like a second. When you sit on a red-hot cinder a second seems like an hour. That's relativity."</p>
								<footer>Albert Einstein</footer>
							</blockquote>
						</div>
						<ul class="entry-meta clearfix">
							<li><a href="#"><i class="icon-user"></i> admin</a></li>
							<li><i class="icon-folder-open"></i> <a href="#">Quotes</a>, <a href="#">People</a></li>
							<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 23 Comments</a></li>
							<li><a href="#"><i class="icon-quote-left"></i></a></li>
						</ul>
					</div>


					<div class="entry clearfix">
						<div class="entry-timeline">
							21<span>Mar</span>
							<div class="timeline-divider"></div>
						</div>
						<div class="entry-image">
							<div class="panel panel-default">
								<div class="panel-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, fuga optio voluptatibus saepe tenetur aliquam debitis eos accusantium! Vitae, hic, atque aliquid repellendus accusantium laudantium minus eaque quibusdam ratione sapiente.
								</div>
							</div>
						</div>
						<ul class="entry-meta clearfix">
							<li><a href="#"><i class="icon-user"></i> admin</a></li>
							<li><i class="icon-folder-open"></i> <a href="#">Status</a>, <a href="#">News</a></li>
							<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 11 Comments</a></li>
							<li><a href="#"><i class="icon-align-justify2"></i></a></li>
						</ul>
					</div>

					<div class="entry clearfix">
						<div class="entry-timeline">
							23<span>Apr</span>
							<div class="timeline-divider"></div>
						</div>
						<div class="entry-image clearfix">
							<iframe width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/115823769&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe>
						</div>
						<div class="entry-title">
							<h2><a href="blog-single.html">This is an Embedded Audio Post</a></h2>
						</div>
						<ul class="entry-meta clearfix">
							<li><a href="#"><i class="icon-user"></i> admin</a></li>
							<li><i class="icon-folder-open"></i> <a href="#">Audio</a>, <a href="#">General</a></li>
							<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 16 Comments</a></li>
							<li><a href="#"><i class="icon-music2"></i></a></li>
						</ul>
						<div class="entry-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et explicabo tenetur voluptate rerum molestiae eaque possimus exercitationem eligendi fuga. Maiores, sunt eveniet doloremque porro hic exercitationem distinctio sequi adipisci. Nulla, fuga perferendis voluptatum beatae voluptate architecto laboriosam provident deserunt. Saepe!</p>
							<a href="blog-single.html"class="more-link">Read More</a>
						</div>
					</div>
          -->
          
			</div><!-- #posts end -->
				<div class='row pagination-button'>
        	<div id="with-button">
        		<%= will_paginate(@posts) %>
        	</div>
        	<% if @posts.next_page %>
          	<%= link_to '#', id: "load_more_posts", class: "image-bg btn btn-filled mb16 mt16" do %> <%= t('loadmore') %> <% end %>
          <% end %>
        </div>

			</div><!-- .postcontent end -->

			<!-- Sidebar
			============================================= -->
			<div class="sidebar nobottommargin col_last clearfix rolcc_feed_sidebar">
				<div class="widget">
          <h6 class="title">Search By ...</h6>
          <hr>
          <form style='margin-bottom: 12px;'>
              <input class="mb0" type="text" placeholder="Type Here" />
          </form>
          
          <div class="select-option" style='margin-bottom: 12px;'>
            <i class="ti-angle-down"></i>
            <%= select("achives", "date_month", @category_dates.all.collect {|p| [ "#{t('date.month_names')[p.month]}, #{p.year}", p.string ] }, {include_blank: 'Achives'}) %>
            
            <select>
                <option selected value="Default">Archives</option>
                <option value="Small">February, 2017</option>
                <option value="Medium">January, 2017</option>
                <option value="Larger">December, 2016</option>
            </select>
          </div>
          <div class="select-option" style='margin-bottom: 12px;'>
            <i class="ti-angle-down"></i>
            <%= select("achives", "book", @category_books.all.collect {|p| [ p.name, p.name ] }, {include_blank: 'Books'}) %>
          </div>
        </div>
			</div><!-- .sidebar end -->

		</div>

	</div>

</section><!-- #content end -->
