<style>
[class*=" icon-"], [class^=icon-] {
    display: inline-block;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
}
  
.portfolio-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 2;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
}

body:not(.device-touch):not(.device-xs):not(.device-xxs) .portfolio-overlay {
	-webkit-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
}

.portfolio-item:hover .portfolio-overlay,
.iportfolio:hover .portfolio-overlay { opacity: 1; }

.portfolio-overlay a {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #F5F5F5;
	width: 40px !important;
	height: 40px !important;
	margin: -28px 0 0 -44px;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	color: #444;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
}

.portfolio-overlay a.left-icon.center {
  left: 56% !important;
}

body:not(.device-touch):not(.device-xs):not(.device-xxs) .portfolio-overlay a {
	-webkit-transition: color .2s linear, background-color .2s linear, margin-top .2s linear, opacity .2s linear;
	-o-transition: color .2s linear, background-color .2s linear, margin-top .2s linear, opacity .2s linear;
	transition: color .2s linear, background-color .2s linear, margin-top .2s linear, opacity .2s linear;
}

.portfolio-overlay a.left-icon {  }

.portfolio-overlay a.right-icon {
	left: auto;
	right: 50%;
	margin-left: 0;
	margin-right: -44px;
}

.portfolio-overlay a.center-icon {
	display: block;
	margin: -20px 0 0 -20px;
	opacity: 0;
}

.portfolio-item:hover a.center-icon,
.iportfolio:hover a.center-icon { opacity: 1; }

.portfolio-overlay a:hover {
	color: #1ABC9C;
	background-color: #EEE;
}

.portfolio-item:hover .portfolio-overlay a.left-icon,
.portfolio-item:hover .portfolio-overlay a.right-icon,
.iportfolio:hover .portfolio-overlay a.left-icon,
.iportfolio:hover .portfolio-overlay a.right-icon { margin-top: -18px; }

.portfolio-overlay a i.icon-line-play {
	position: relative;
	left: 2px;
}


.portfolio-overlay .portfolio-desc {
	position: relative;
	padding: 0 !important;
	margin: 0;
	text-align: center;
}

.portfolio-overlay .portfolio-desc a {
	display: inline;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	font-size: inherit;
	width: auto !important;
	height: auto !important;
	line-height: 1;
	background-color: transparent !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.portfolio-overlay .portfolio-desc h3 {
	font-weight: 600;
	color: #F5F5F5 !important;
	line-height: 1;
}

.portfolio-overlay .portfolio-desc h3 a { color: #F5F5F5 !important; }

.portfolio-overlay .portfolio-desc span {
	margin-top: 7px;
	color: #DDD !important;
}

.portfolio-overlay .portfolio-desc span a {
	color: #DDD !important;
	font-size: inherit;
}

.portfolio-overlay .portfolio-desc ~ a {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	margin: 20px 0 0 !important;
}

body:not(.device-touch):not(.device-xs):not(.device-xxs) .portfolio-overlay .portfolio-desc ~ a {
	-webkit-transition: color .2s linear, background-color .2s linear, opacity .2s linear;
	-o-transition: color .2s linear, background-color .2s linear, opacity .2s linear;
	transition: color .2s linear, background-color .2s linear, opacity .2s linear;
}

.portfolio-overlay .portfolio-desc ~ a.right-icon {
	left: 0;
	right: 0;
	margin-left: 5px !important;
	margin-right: 0 !important;
}

.portfolio-overlay .portfolio-desc a:hover { background: transparent; }

body.device-touch.device-xs .portfolio-notitle .portfolio-overlay,
body.device-touch.device-xxs .portfolio-notitle .portfolio-overlay { display: none !important; }


/* Portfolio Single
-----------------------------------------------------------------*/

.portfolio-single {}


/* Portfolio Single - Image
-----------------------------------------------------------------*/

.portfolio-single-image > a,
.portfolio-single-image .slide a,
.portfolio-single-image img,
.portfolio-single-image iframe,
.portfolio-single-image video {
	display: block;
	width: 100%;
}

.portfolio-single-image-full {
	position: relative;
	height: 600px;
	overflow: hidden;
	margin: -80px 0 80px !important;
}

.portfolio-single-video { height: auto !important; }

</style>
<% content_for :laverne_navbar do %>
  <%= render 'shared/main/header_laverne' %>
<% end %>
<div class="main-container">
  <section class="page-title page-title-1 image-bg overlay parallax">
  <div class="background-image-holder">
    <img alt="Background Image" class="background-image" src="<%= asset_path('lv_cover.jpg') %>" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="uppercase mb0">新生命靈糧堂 - 拉文 </br> New Life Christian Center, La Verne, CA</h3>
        <p class="lead">2990 Damien Ave, La Verne, CA 91750</p>
      </div>
    </div>
    <!--end of row-->
  </div>
  
  <!--end of container-->
  <!--<ol class="breadcrumb breadcrumb-2">-->
  <!--    <li>-->
  <!--        <a href="#">Home</a>-->
  <!--    </li>-->
  <!--    <li>-->
  <!--        <a href="#">Pages</a>-->
  <!--    </li>-->
  <!--    <li class="active">About Us</li>-->
  <!--</ol>-->
  </section>
</div>

<section>
  <div class="container" id="time-lv">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h3 class="uppercase mb40 mb-xs-24">聚會時間</h3>
      <div class="mb40">
        <p class="lead">中文堂主日崇拜: 星期日下午1:00PM-2:45PM</p>
        <p class="lead">成人主日學 星期日上午10:50AM-11:50AM</p>
        <p class="lead">兒童主日學 星期日下午1:10PM-2:30PM</p>
      </div>
      <h3 class="uppercase mb40 mb-xs-24">聯絡我們</h3>
      <div class="mb40">
        <p class="lead">教會電話：+ (1) 480-529-8873 / Email:  nlccvision@gmail.com</p>
        <p class="lead">地址： 2990 Damien Ave, La Verne, CA 91750</p>
      </div>
      <ul class='list-inline social-list list-inline-1'>
        <li>
          <a href="https://www.facebook.com/NLCCLaVerne/" class="social-icon si-colored si-facebook" target="_blank">
          	<i class="icon-facebook" style='line-height: 38px;'></i>
          	<i class="icon-facebook" style='line-height: 38px;'></i>
          </a> 
        </li>
        <li>
          <a href="mailto:nlccvision@gmail.com" class="social-icon si-colored si-email3">
          	<i class="icon-email3" style='line-height: 38px;'></i>
          	<i class="icon-email3" style='line-height: 38px;'></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</section>
<section>
  <div class="container sect-about pt40" id="about-us-lv">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h3 class="uppercase mb40 mb-xs-24">我們的教會</h3>
              <p class="lead mb40">2012年4月王春光牧師(Pastor John Wang)在退休前，將一群愛主的弟兄姊妹交给陳正榮牧師加入
              「新生命靈糧堂」的大家庭， 開始了在南加州東區周邊地區的事工。我們的弟兄姊妹來自於La Verne、Claremont
              、Upland、Chino、Chino Hills、Pomona、Ontario、Fontana...一帶， 歡迎您一同加入! 期待我們一起以敬拜讚美
              、聖靈更新、福音宣教、小組教會來服事神和服事周圍的人群。
              </p>
          </div>
      </div>
  </div>
</section>

<section class="image-bg overlay parallax">
  <div class="background-image-holder">
    <img alt="Background Image" class="background-image" src="<%= asset_path('cover18.jpg') %>" />
  </div>
  <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center">
              <h3 class="uppercase mb40 mb-xs-24">教會的異象與使命</h3>
          </div>
      </div>
      <!--end of row-->
      <div class="row">
          <div class="col-sm-4">
              <div class="feature feature-1 boxed">
                  <div class="text-center">
                      <img src="<%= asset_path('charity.png') %>" alt="charity" style="color:#fff">
                      <!--<h5 class="uppercase mb16">Research & Ideate</h5>-->
                  </div>
                  </br>
                  <p class="lead">我們的異象是要建造一個充滿熱愛，代代相傳，滿有憐憫，注重宣教的教會</br></br></p>
              </div>
              <!--end of feature-->
          </div>
          <div class="col-sm-4">
              <div class="feature feature-1 boxed">
                  <div class="text-center">
                      <img src="<%= asset_path('holy-bible.png') %>" alt="bible" style="color:#fff">
                      <!--<h5 class="uppercase mb16">Design & Iterate</h5>-->
                  </div>
                  </br>
                  <p class="lead">追求真道、敬拜禱告、建立活潑的小組。</br></br></br></p>
              </div>
              <!--end of feature-->
          </div>
          <div class="col-sm-4">
              <div class="feature feature-1 boxed">
                  <div class="text-center">
                      <img src="<%= asset_path('donation.png') %>" alt="donation" style="color:#fff">
                      <!--<h5 class="uppercase mb16">Ship & Support</h5>-->
                  </div>
                  </br>
                  <p class="lead">宣教事工: Mary's Kitchen, Tijuana红燈區的短宣，願神繼續祝福我們，使我們成為深所使用的器皿。</p>
              </div>
              <!--end of feature-->
          </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section>
  <div class="container pt40" id="pastor-lv">
    <div class="row">
      <div class="col-sm-12 text-center">
          <!--<h3 class="uppercase mb40 mb-xs-24">認識牧者</h3>           -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 mb-xs-24 p0">
        <div class="col-sm-5 mb-xs-24">
          <img alt="Pastor Wong's pic" src="<%= asset_path("Pastor_Edwin_Wong_2.jpg") %>"/>
        </div>
        <div class="col-sm-7 mb-xs-24">
          <h5 class="uppercase mb0">黃耀基 牧師</h5>
          <span class="inline-block mb40 mb-xs-24">Pastor Edwin Wong</span>
          <p class="lead">黄耀基牧師出生於新加坡，1993年與林智嬌師母结婚後來美求學，育有一子。1997年ASU電機系碩士畢業，2007年在金門浸信會神學院修畢神學研究碩士學位。喜愛閱讀、騎單車及步行。1978年重生得救，並且感受神的呼召；往後繼續在不同教會學習服事。於公元二千年起在華人教會開始以普通話服事和教導。懷著負擔幫助信徒更深認識主及更愛主。主要的心願是願神的國降臨，願祂的旨意行在地上如同行在天上。但願此生為主所用，為著祂的國和祂的旨意，全力以赴。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container sect-about pt40" id="videos-lv">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h3 class="uppercase mb40 mb-xs-24">講道錄影 / 造就課程</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>NLCC La Verne頻道</h4>
      </div>
      <% @mvideos_lv.each do |video| %>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class='ipost'>
          <div class="entry-image">
    		    <iframe class="center-block img-responsive" src="//www.youtube.com/embed/<%=video.youtubeID%>" frameborder="0" allowfullscreen></iframe>
  			  </div>
          <div class="entry-title">
  					<h3><a href="#"><%= video.title %></a></h3>
  			  </div>
  				<ul class="entry-meta clearfix">
  					<li><i class="icon-calendar3"></i><%= video.date %></li>
  					<!--<li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>-->
  					<li><a href="#"><i class="icon-film"></i></a></li>
  				</ul>
  			</div>
      </div>
      <% end %>
    </div>
    <div class='row text-right'>
      <a href='https://www.youtube.com/channel/UCJXA3cLq57tk33IVrZdZnww/videos?sort=dd&view=0&shelf_id=0' target='_blank' class='image-bg btn btn-lg btn-filled mb16 mt16'> 更 多 主 日 影 音 </a>
    </div>
  </div>
</section>

<section>
 <div class="container sect-about pt40">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h3 class="uppercase mb40 mb-xs-24">活動紀錄</h3>
      </div>
      <div class="col-sm-12">
        <div id='owl-carousel-media' class='owl-carousel'>
          <div class='ipost portfolio-item'>
            <div class="entry-image">
    					<img src='	//files.natecheng.me/uploads/library/attachment/224/breadnfish.jpg' />
      					<div class="portfolio-overlay" data-lightbox="gallery">
  							<a href="//files.natecheng.me/uploads/library/attachment/223/IMG_20170604_145341_1.jpg" class="left-icon center" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
								<a href="//files.natecheng.me/uploads/library/attachment/222/IMG_20170604_145322_1.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/221/IMG_20170604_143249.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/220/IMG_20170604_143031.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/219/IMG_20170604_142522.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/218/IMG_20170604_142318.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/217/IMG_20170604_142017.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/216/IMG_20170604_141657.jpg" class="hidden" data-lightbox="gallery-item"></a>
  						</div>
    				</div>
    				
            <div class="entry-title">
  						<h3><a href="#">兒童主日學 (五餅二魚)</a></h3>
  					</div>
  					<ul class="entry-meta clearfix">
  						<li><i class="icon-calendar3"></i> 2017 / 6 / 4</li>
  						<!--<li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>-->
  						<li><a href="#"><i class="icon-photo"></i></a></li>
  					</ul>
  				</div>
          <div class='ipost portfolio-item'>
            <div class="entry-image">
    					<img src='//files.natecheng.me/uploads/library/attachment/194/children5.jpg' />
      					<div class="portfolio-overlay" data-lightbox="gallery">
  							<a href="//files.natecheng.me/uploads/library/attachment/195/IMG_20170528_093501.jpg" class="left-icon center" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
								<a href="//files.natecheng.me/uploads/library/attachment/196/IMG_20170528_135214.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/197/IMG_20170528_142945.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/198/IMG_20170528_144420.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/199/IMG_20170528_144449.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/200/IMG_20170528_144451.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/201/IMG_20170528_144456.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/202/IMG_20170528_144540.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/203/IMG_20170528_144815.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/204/IMG_20170528_145139.jpg" class="hidden" data-lightbox="gallery-item"></a>
  						</div>
    				</div>
    				
            <div class="entry-title">
  						<h3><a href="#">兒童主日學 (製作給爸爸和家人的旗子)</a></h3>
  					</div>
  					<ul class="entry-meta clearfix">
  						<li><i class="icon-calendar3"></i> 2017 / 5 / 28</li>
  						<!--<li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>-->
  						<li><a href="#"><i class="icon-photo"></i></a></li>
  					</ul>
  				</div>
          <div class='ipost portfolio-item'>
            <div class="entry-image">
    					<img src='//files.natecheng.me/uploads/library/attachment/191/childrensunday4.jpg' />
      					<div class="portfolio-overlay" data-lightbox="gallery">
  							<a href="//files.natecheng.me/uploads/library/attachment/184/IMG_20170521_143304.jpg" class="left-icon center" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
								<a href="//files.natecheng.me/uploads/library/attachment/185/IMG_20170521_143428.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/186/IMG_20170521_142849.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/187/IMG_20170521_142716.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/188/IMG_20170521_142655.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/189/IMG_20170521_142028.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/190/IMG_20170521_142020.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/192/IMG_20170521_141917.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/193/IMG_20170521_134354.jpg" class="hidden" data-lightbox="gallery-item"></a>
  						</div>
    				</div>
    				
            <div class="entry-title">
  						<h3><a href="#">兒童主日學 (穿戴屬靈的軍裝)</a></h3>
  					</div>
  					<ul class="entry-meta clearfix">
  						<li><i class="icon-calendar3"></i> 2017 / 5 / 21</li>
  						<!--<li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>-->
  						<li><a href="#"><i class="icon-photo"></i></a></li>
  					</ul>
  				</div>
  				<div class='ipost portfolio-item'>
            <div class="entry-image">
    					<img src='//files.natecheng.me/uploads/library/attachment/215/maxicotrip.jpg' />
      					<div class="portfolio-overlay" data-lightbox="gallery">
    							<a href="//files.natecheng.me/uploads/library/attachment/214/mmexport1496018818742.jpg" class="left-icon center" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
  								<a href="//files.natecheng.me/uploads/library/attachment/213/mmexport1496018817035.jpg" class="hidden" data-lightbox="gallery-item"></a>
  								<a href="//files.natecheng.me/uploads/library/attachment/212/mmexport1496018815266.jpg" class="hidden" data-lightbox="gallery-item"></a>
  								<a href="//files.natecheng.me/uploads/library/attachment/211/mmexport1496018811690.jpg" class="hidden" data-lightbox="gallery-item"></a>
  								<a href="//files.natecheng.me/uploads/library/attachment/210/mmexport1496018809918.jpg" class="hidden" data-lightbox="gallery-item"></a>
  								<a href="//files.natecheng.me/uploads/library/attachment/209/mmexport1496018806396.jpg" class="hidden" data-lightbox="gallery-item"></a>
  								<a href="//files.natecheng.me/uploads/library/attachment/208/mmexport1496018804934.jpg" class="hidden" data-lightbox="gallery-item"></a>
  								<a href="//files.natecheng.me/uploads/library/attachment/207/mmexport1496018803574.jpg" class="hidden" data-lightbox="gallery-item"></a>
  								<a href="//files.natecheng.me/uploads/library/attachment/206/mmexport1496018802139.jpg" class="hidden" data-lightbox="gallery-item"></a>
  								<a href="//files.natecheng.me/uploads/library/attachment/205/mmexport1496018800656.jpg" class="hidden" data-lightbox="gallery-item"></a>
  						</div>
    				</div>
    				
            <div class="entry-title">
  						<h3><a href="#">墨西哥短宣</a></h3>
  					</div>
  					<ul class="entry-meta clearfix">
  						<li><i class="icon-calendar3"></i> 2017 / 5 / 20</li>
  						<!--<li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>-->
  						<li><a href="#"><i class="icon-photo"></i></a></li>
  					</ul>
  				</div>
          
  				<div class='ipost portfolio-item'>
            <div class="entry-image">
    					<img src='//files.natecheng.me/uploads/library/attachment/161/mothersday.jpg' />
      					<div class="portfolio-overlay" data-lightbox="gallery">
  							<a href="//files.natecheng.me/uploads/library/attachment/162/mmexport1496018858732.jpg" class="left-icon center" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
								<a href="//files.natecheng.me/uploads/library/attachment/163/mmexport1496018860001.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/164/mmexport1496018862013.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/165/mmexport1496018863317.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/166/mmexport1496018864688.jpg" class="hidden" data-lightbox="gallery-item"></a>
  						</div>
    				</div>
    				
            <div class="entry-title">
  						<h3><a href="#">母親節主日</a></h3>
  					</div>
  					<ul class="entry-meta clearfix">
  						<li><i class="icon-calendar3"></i> 2017 / 5 / 14</li>
  						<!--<li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>-->
  						<li><a href="#"><i class="icon-photo"></i></a></li>
  					</ul>
  				</div>
  				
  				<div class='ipost'>
            <div class="entry-image">
    					<iframe width="560" height="315" src="//www.youtube.com/embed/kgyeCCY2mZw" frameborder="0" allowfullscreen></iframe>
    				</div>
            <div class="entry-title">
  						<h3><a href="#">母親節主日</a></h3>
  					</div>
  					<ul class="entry-meta clearfix">
  						<li><i class="icon-calendar3"></i> 2017 / 5 / 14</li>
  						<!--<li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>-->
  						<li><a href="#"><i class="icon-film"></i></a></li>
  					</ul>
  				</div>
  				<div class='ipost portfolio-item'>
            <div class="entry-image">
    					<img src='//files.natecheng.me/uploads/library/attachment/167/childrensunday.jpg' />
      					<div class="portfolio-overlay" data-lightbox="gallery">
  							<a href="//files.natecheng.me/uploads/library/attachment/176/20170430_143022.jpg" class="left-icon center" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
								<a href="//files.natecheng.me/uploads/library/attachment/177/20170430_143046.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/178/20170430_143051.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/179/20170430_143117.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/180/IMG_20170430_132902.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/181/IMG_20170430_150112.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/182/IMG_20170430_150147.jpg" class="hidden" data-lightbox="gallery-item"></a>
								<a href="//files.natecheng.me/uploads/library/attachment/183/wx_camera_1493535572168.jpg" class="hidden" data-lightbox="gallery-item"></a>
  						</div>
    				</div>
    				
            <div class="entry-title">
  						<h3><a href="#">兒童主日學 (母親節花束 手工製作)</a></h3>
  					</div>
  					<ul class="entry-meta clearfix">
  						<li><i class="icon-calendar3"></i> 2017 / 4 / 30</li>
  						<!--<li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>-->
  						<li><a href="#"><i class="icon-photo"></i></a></li>
  					</ul>
  				</div>
  				<div class='ipost'>
            <div class="entry-image">
    					<iframe width="560" height="315" src="//www.youtube.com/embed/unhJlPfSCLA" frameborder="0" allowfullscreen></iframe>
    				</div>
            <div class="entry-title">
  						<h3><a href="#">復活節活動</a></h3>
  					</div>
  					<ul class="entry-meta clearfix">
  						<li><i class="icon-calendar3"></i> 2017 / 4 / 16</li>
  						<!--<li><a href="blog-single-full.html#comments"><i class="icon-comments"></i> 19</a></li>-->
  						<li><a href="#"><i class="icon-film"></i></a></li>
  					</ul>
  				</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
     <div class="container sect-about pt40">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h3 class="uppercase mb40 mb-xs-24">活動消息</h3>
            </div>
        </div>
        <div class="row mb48 mb-xs-0">
            <div class="col-sm-6 masonry-item project" data-filter="Objects">
                <div class="modal-container">
                    <a class="btn-modal" href="#">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <img alt="Guitar Lesson" src="<%= asset_path("guitar_lesson.jpg") %>" />
                            <div class="title">
                                <h4 class="uppercase mb0">給青年/小孩的吉他課程</h4>
                            </div>
                        </div>
                    </a>
                    <div class="foundry_modal">
                        <h3>給青年/小孩的吉他課程</h3>
                        <h4>
                            目標是培訓未來的敬拜讚美的精兵。
                        </h4>
                        <hr>
                        <p class="lead">
                           授課時間
                           </br>
                           每周主日的早上10:30-12:30。中間會有休息時間。
                        </p>
                        <p class="lead">第一期計畫為期三個月；從現在到暑假前(6月)。全程英語授課，對象為English Speaking Kids, 可以自理，安靜穩定配合學習、並自行上廁所的青年/ 兒童。(師資人力有限，無法托兒服務)  
                        授課免費。需要自備吉他。
                        </p>
                        <p class="lead">
                            等待的兄姊/ 家長 無須陪課，可以預備心，一同參與上午的主日學 (11:00開始)。中午在教會用餐後，一同參與1:00PM 的主日崇拜。有興趣了解請跟我聯絡。(Ivan Hsu)
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 masonry-item project" data-filter="Objects">
                <div class="modal-container">
                    <a class="btn-modal" href="#">
                        <div class="image-tile inner-title hover-reveal text-center">
                            <img alt="Video Lesson" src="<%= asset_path("video_lesson.jpg") %>" />
                            <div class="title">
                                <h4 class="uppercase mb0">[影音編輯/ 剪輯製作] 訓練課程</h4>
                            </div>
                        </div>
                    </a>
                    <div class="foundry_modal">
                        <h3>[影音編輯/ 剪輯製作] 訓練課程</h3>
                        <h4>
                            目標是培訓教會媒體宣教精兵、裝備專長技能、建造在服事工場&職場上有競爭力的青年人。
                        </h4>
                        <hr>
                        <p class="lead">
                           目標對象
                           </br>
                           Teenager、青年學生或以上。對電腦有基本認識，對錄影、影片編輯有興趣與熱情參與服事的青年。需要自備電腦。
                        </p>
                        <p class="lead">
                            預計開課時間
                            </br>
                            每周主日早上 10:30-12:00。
                            課程後中午可在教會吃飯，下午1:00一起主日崇拜聚會。
                            暫定3個月為一期。
                        </p>
                        <p class="lead">
                            課程內容範圍
                            </br>
                            (1) 影音剪輯的流程基本概念、設備簡介；與如何打造一人工作室。</br>
                            (2) 如何建立經營自己與教會的Youtube Channel</br>
                            (3) 如何進行社群行銷?</br>
                            (4) 使用Bendicam 軟體進行錄影採集。</br>
                            (5) Adobe Premiere & Apple Final Cut Pro 軟體實戰
                        </p>
                        <p class="lead">
                            簡單的短程目標，就是自己剪出你喜歡的影片作品、編輯出喜歡的敬拜讚美的MV
                        </p>
                        <p class="lead">細節另外提供。有興趣的弟兄姊妹請聯絡 Ivan Hsu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
NLCC.tools.lightbox();
</script>