<div class="entry clearfix">
	<div class="entry-timeline">
		<%= rolcc_feed.date.strftime("%-d") %><span><%= rolcc_feed.date.strftime("%b") %></span>
		<div class="timeline-divider"></div>
	</div>
	<div class="entry-image">
		<div class="panel panel-default">
			<div class="panel-body">
			  <p><%= rolcc_feed.book %></p>
				<%= rolcc_feed.short_script.html_safe %>  <%= link_to rolcc_feed_path(rolcc_feed), :class => 'more-link' do %> Read More <% end %>
			</div>
		</div>
	</div>
	<ul class="entry-meta clearfix">
		<li><a href="<%= rolcc_feed.link %>"><i class="icon-user"></i> 矽谷生命河靈糧堂</a></li>
		<li><i class="icon-folder-open"></i> <a href="#">每日靈修</a></li>
		<li><span class="addthis_inline_share_toolbox_ej7z" data-title="<%= '今日靈修: ' + @rolcc_feed.book %>" data-description="<%= @rolcc_feed.share.html_safe %>"></span></li>
	</ul>
	<div class="entry-content">
		<p></p>
	</div>
</div>