<div class="nav-container">
  <a id="top"></a>
  <nav class="absolute transparent" data-fixed-at='200px'>
    <div class="nav-bar">
      <div class="module left">
        <%= link_to root_path(:locale => I18n.locale), data: { no_turbolink: true } do %>
          <img class="logo logo-light" alt="Foundry" src="<%= asset_path('logo-light.png') %>" />
          <img class="logo logo-dark" alt="Foundry" src="<%= asset_path('logo-dark.png') %>" />
        <% end %>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
        <div class="module left">
          <ul class="menu">
            <li class="">
                <a class='inner-link' href="#connect">
                    <%= t('rooted') %>
                </a>
                <ul>
                  <li><%= link_to cellgroups_path(:locale => I18n.locale) do %><%= I18n.t('cellgroups') %><% end %></li>
                  <li><%= link_to youngadults_path(:locale => I18n.locale) do %><%= I18n.t('yg') %><% end %></li>
                  <li><%= link_to children_path(:locale => I18n.locale) do %><%= I18n.t('sundayschool') %><% end %></li>
                </ul>
            </li>
            <li>
              <a href="#events" class='inner-link'>
                  <%= t('events') %>
              </a>
            </li>
            <li class="">
              <a href="#ministries" class='inner-link'>
                <%= t('ministries') %>
              </a>
              <ul>
                <li><%= link_to '#' do %><%= I18n.t('ministryworship') %><% end %></li>
                <li><%= link_to '#' do %><%= I18n.t('ministryequip') %><% end %></li>
                <li><%= link_to '#' do %><%= I18n.t('ministryprayer') %><% end %></li>
                <li><%= link_to '#' do %><%= I18n.t('ministrymission') %><% end %></li>
              </ul>
            </li>
            <!--<li class="has-dropdown">-->
            <li class="Media">
              <a href="#media" class='inner-link'>
                  <%= t('media') %>
              </a>
              <ul>
                <li><%= link_to newsletters_path(:locale => I18n.locale) do %>週報下載<% end %></li>
                <li><%= link_to videos_path(:locale => I18n.locale) do %><%= I18n.t('mediavideo') %><% end %></li>
                <li><%= link_to audio_path(:locale => I18n.locale) do %><%= I18n.t('mediaaudio') %><% end %></li>
                <li><%= link_to rolcc_feeds_path(:locale => I18n.locale) do %><%= I18n.t('dailydevitions') %><% end %></li>
              </ul>
            </li>
            <li class="">
                <a href="#give" class='inner-link'>
                    <%= t('give') %>
                </a>
            </li>
            <li>
                <a class="inner-link" href="#contact">
                    <%= t('contact') %>
                </a>
                <ul>
                  <li><%= link_to about_path do %><%= t('menu.about') %><% end %></li>
                  <li><%= link_to pastors_path(:locale=> I18n.locale) do %><%= t('pastoralteam') %><% end %></li>
                  <li><%= link_to contact_path(:locale=> I18n.locale) do %><%= t('contact') %><% end %></li>
                </ul>
            </li>
          </ul>
        </div>
        <div class="module widget-handle cart-widget-handle left">
          <div class="cart">
            <span style='color: #fff;'>
              <%= link_to lv_path do %>
                <%= t('laverneministry') %>
              <% end %>
            </span>
           <!-- <i class="ti-location-pin"></i>-->
            <!--<span class="label number">2</span>-->
            <!--<span class="title">Locations</span>-->
          </div>
          <!--<div class="function">
            <div class="widget">-->
              <!--<h6 class="title">Shopping Cart</h6>
              <hr>-->
              <!--<ul class="cart-overview">
                <li>
                  <%= link_to root_path do %>
                      <span>Irvine</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to lv_path do %>
                      <span>La Verne</span>
                  <% end %>
                </li>
              </ul>-->
              <!--<hr>
              <div class="cart-controls">
                  <a class="btn btn-sm btn-filled" href="#">Checkout</a>
                  <div class="list-inline pull-right">
                      <span class="cart-total">Total: </span>
                      <span class="number">$289.40</span>
                  </div>
              </div>-->
            <!--</div>-->
            <!--end of widget-->
          <!--</div>-->
        </div>
        <!--<div class="module widget-handle language left">
          <ul class="menu">
            <li class="has-dropdown">
              <a href="#"><%= t('menu.languages.lang') %></a>
              <% other_locales = I18n.available_locales.reject!{ |k| k == I18n.locale } %>
                <ul>
                  <% other_locales.each do |l| %>
                  <li><a href='/<%=l%>'><%= t('menu.languages.lang', locale: l) %></a></li>
                  <% end %>
                </ul>
            </li>
          </ul>
        </div>-->
        <div class="module widget-handle offscreen-toggle right">
          <i class="ti-book"></i>
        </div>
      </div>
      <!--end of module group-->
    </div>
    <div class="offscreen-container bg-dark text-center">
      <div class="close-nav">
        <a href="#">
          <i class="ti-close"></i>
        </a>
      </div>
      <div class="text-center offscreen-menu daily-feed">
      <!--<div class="v-align-transform text-center">-->
        <a href="#"><img alt="Logo" class="image-xs mb16 mb-xs-24" src="<%= asset_path('logo-light.png') %>"></a>
        <h4 class="uppercase mb0" style='color: #fff'><%= I18n.t('dailydevotion') %></h4>
        <h5 class='mb8'><%= @rolcc_feed.date %></h5>
        <div class="offscreen-content">
          <h5 class='title mb8'><%= @rolcc_feed.book %></h5>
          <p class='mb16'><%= @rolcc_feed.short_script.html_safe%></p>
          <p class='mb8'><%= link_to rolcc_feed_path(@rolcc_feed), :target => '_blank', :class => 'btn btn-white btn-sm mb32 inner-link' do %> 閱讀更多 <% end %></p>

        </div>
        <!--<ul class="list-inline social-list">
          <li>
            <a href="#">
              <i class="ti-twitter-alt"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-vimeo-alt"></i>
            </a>
          </li>
        </ul>-->
      </div>
    </div>
  </nav>
</div>