<div class="nav-container">
  <a id="top"></a>
  <nav class="absolute transparent">
    <div class="nav-bar">
      <div class="module left">
        <a href="index.html">
          <img class="logo logo-light" alt="Foundry" src="<%= asset_path('logo-light.png') %>" />
          <img class="logo logo-dark" alt="Foundry" src="<%= asset_path('logo-dark.png') %>" />
        </a>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
        <div class="module left">
          <ul class="menu">
              <li>
                  <a class="inner-link" href="#whoweare">
                      <%= t('who') %>
                  </a>
                  <ul>
                    <li><a href='/about'>關於我們</a></li>
                    <li><a>牧者團隊</a></li>
                    <li><a>聯絡我們</a></li>
                  </ul>
                  <!--<ul class="mega-menu">
                      <li>
                          <ul>
                              <li>
                                  <span class="title">Concepts</span>
                              </li>
                              <li>
                                  <a href="home-adventure.html">Adventure Travel</a>
                              </li>
                              <li>
                                  <a href="home-agency.html">Agency</a>
                              </li>
                              <li>
                                  <a href="home-agency-2.html">Agency 2</a>
                                  <span class="label">New!</span>
                              </li>
                              <li>
                                  <a href="home-app-landing.html">App Landing</a>
                              </li>
                              <li>
                                  <a href="home-app-landing-2.html">App Landing 2</a>
                              </li>
                              <li>
                                  <a href="home-capital-firm.html">Capital Firm</a>
                              </li>
                              <li>
                                  <a href="home-fashion.html">Fashion</a>
                              </li>
                              <li>
                                  <a href="home-fitness.html">Fitness</a>
                              </li>
                              <li>
                                  <a href="home-restaurant.html">Restaurant</a>
                              </li>
                              <li>
                                  <a href="home-music.html">Music</a>
                              </li>
                              <li>
                                  <a href="home-event.html">Event / Seminar</a>
                              </li>
                              <li>
                                  <a href="home-architecture.html">Architecture</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <ul>
                              <li>
                                  <a href="home-photography.html">Photography</a>
                              </li>
                              <li>
                                  <a href="home-photography-2.html">Ken Burns</a>
                              </li>
                              <li>
                                  <a href="home-personal-portfolio.html">Portfolio</a>
                              </li>
                              <li>
                                  <a href="home-property.html">Property Listing</a>
                              </li>
                              <li>
                                  <a href="home-resume.html">Resumé</a>
                              </li>
                              <li>
                                  <a href="home-winery.html">Winery</a>
                              </li>
                              <li>
                                  <span class="title">Home Pages</span>
                              </li>
                              <li>
                                  <a href="index.html">Home Classic</a>
                              </li>
                              <li>
                                  <a href="home-default-2.html">Home Layout 2</a>
                              </li>
                              <li>
                                  <a href="home-default-3.html">Home Layout 3</a>
                              </li>
                              <li>
                                  <a href="home-default-4.html">Home Layout 4</a>
                              </li>
                              <li>
                                  <a href="home-default-5.html">Home Layout 5</a>
                              </li>
                          </ul>
                      </li>
                  </ul>-->
              </li>
              <li class="">
                  <a class='inner-link' href="#connect">
                      <%= t('rooted') %>
                  </a>
                  <ul>
                    <li><a>細胞小組</a></li>
                    <li><a>青年團契</a></li>
                    <li><a>兒童主日</a></li>
                  </ul>
                  <!--<ul class="mega-menu">
                      <li>
                          <ul>
                              <li>
                                  <span class="title">Inner Pages</span>
                              </li>
                              <li>
                                  <a href="page-about-us-1.html">About Us 1</a>
                              </li>
                              <li>
                                  <a href="page-about-us-2.html">About Us 2</a>
                              </li>
                              <li>
                                  <a href="page-about-us-3.html">About Us 3</a>
                              </li>
                              <li>
                                  <a href="page-services-1.html">Services 1</a>
                              </li>
                              <li>
                                  <a href="page-services-2.html">Services 2</a>
                              </li>
                              <li>
                                  <a href="page-services-3.html">Services 3</a>
                              </li>
                              <li>
                                  <a href="page-contact-1.html">Contact 1</a>
                              </li>
                              <li>
                                  <a href="page-contact-2.html">Contact 2</a>
                              </li>
                              <li>
                                  <a href="page-contact-3.html">Planner</a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <ul>
                              <li>
                                  <span class="title">Utility Pages</span>
                              </li>
                              <li>
                                  <a href="page-login.html">Login</a>
                              </li>
                              <li>
                                  <a href="page-register.html">Register</a>
                              </li>
                              <li>
                                  <a href="page-coming-soon.html">Coming Soon</a>
                              </li>
                              <li>
                                  <a href="page-faq.html">FAQ</a>
                              </li>
                              <li>
                                  <a href="page-confirmation.html">Confirmation</a>
                              </li>
                              <li>
                                  <a href="page-countdown.html">Countdown</a>
                              </li>
                              <li>
                                  <a href="page-countdown-2.html">Countdown 2</a>
                              </li>
                              <li>
                                  <a href="page-404.html">404 - Error</a>
                              </li>
                          </ul>
                      </li>
                  </ul>-->
              </li>
              <li>
                <a href="#events" class='inner-link'>
                    <%= t('events') %>
                </a>
                <!--<ul>
                    <li class="has-dropdown">
                        <a href="#">
                            Contained
                        </a>
                        <ul>
                            <li>
                                <a href="portfolio-grid-2col.html">
                                    2 Columns
                                </a>
                            </li>
                            <li>
                                <a href="portfolio-grid.html">
                                    3 Columns
                                </a>
                            </li>
                            <li>
                                <a href="portfolio-grid-4col.html">
                                    4 Columns
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">
                            Wide
                        </a>
                        <ul>
                            <li>
                                <a href="portfolio-wide-2col.html">
                                    2 Columns
                                </a>
                            </li>
                            <li>
                                <a href="portfolio-wide.html">
                                    3 Columns
                                </a>
                            </li>
                            <li>
                                <a href="portfolio-wide-4col.html">
                                    4 Columns
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="portfolio-parallax.html">
                            Parallax
                        </a>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">
                            Single
                        </a>
                        <ul>
                            <li>
                                <a href="portfolio-single-1.html">
                                    Case Study 1
                                </a>
                            </li>
                            <li>
                                <a href="portfolio-single-2.html">
                                    Case Study 2
                                </a>
                            </li>
                            <li>
                                <a href="portfolio-single-3.html">
                                    Case Study 3
                                </a>
                            </li>
                            <li>
                                <a href="portfolio-single-4.html">
                                    Case Study 4
                                </a>
                            </li>
                            <li>
                                <a href="portfolio-single-5.html">
                                    Case Study 5
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>-->
              </li>
              <li class="">
                  <a href="#ministries" class='inner-link'>
                      <%= t('ministries') %>
                  </a>
              </li>
              <!--<li class="has-dropdown">-->
              
              <li class="Media">
                  <a href="#media" class='inner-link'>
                      <%= t('media') %>
                  </a>
                  <!--<ul>
                      <li class="has-dropdown">
                          <a href="#">
                              Shop Layout
                          </a>
                          <ul>
                              <li>
                                  <a href="shop-sidebar.html">
                                      Sidebar Left
                                  </a>
                              </li>
                              <li>
                                  <a href="shop-sidebar-right.html">
                                      Sidebar Right
                                  </a>
                              </li>
                              <li>
                                  <a href="shop-fullwidth-4col.html">
                                      4 Columns
                                  </a>
                              </li>
                              <li>
                                  <a href="shop-fullwidth.html">
                                      3 Columns
                                  </a>
                              </li>
                              <li>
                                  <a href="shop-fullwidth-2col.html">
                                      2 Columns
                                  </a>
                              </li>
                          </ul>
                      </li>
                      <li class="has-dropdown">
                          <a href="#">
                              Product Single
                          </a>
                          <ul>
                              <li>
                                  <a href="shop-product-sidebar-left.html">
                                      Sidebar Left
                                  </a>
                              </li>
                              <li>
                                  <a href="shop-product-sidebar.html">
                                      Sidebar Right
                                  </a>
                              </li>
                              <li>
                                  <a href="shop-product-fullwidth.html">
                                      No Sidebar
                                  </a>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a href="shop-cart.html">
                              Cart
                          </a>
                      </li>
                      <li>
                          <a href="shop-checkout.html">
                              Checkout
                          </a>
                      </li>
                  </ul>-->
              </li>
              <li class="">
                  <a href='/tithe'>
                      <%= t('give') %>
                  </a>
              </li>
          </ul>
        </div>
        <!--end of menu module-->
        <!--<div class="module widget-handle search-widget-handle left">
          <div class="search">
            <i class="ti-search"></i>
            <span class="title">Search Site</span>
          </div>
          <div class="function">
            <form class="search-form">
              <input type="text" placeholder="Type Here" />
            </form>
          </div>
        </div>-->
        <div class="module widget-handle cart-widget-handle left">
          <div class="cart">
            <i class="ti-location-pin"></i>
            <!--<span class="label number">2</span>-->
            <span class="title">Locations</span>
          </div>
          <div class="function">
            <div class="widget">
              <!--<h6 class="title">Shopping Cart</h6>
              <hr>-->
              <ul class="cart-overview">
                <li>
                  <a href="#">
                    <!--<img alt="Product" src="<%= asset_path('shop-widget-1.png') %>" />-->
                    <div class="description">
                      <span class="product-title">Irvine</span>
                      <!--<span class="price number">$39.90</span>-->
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <!--<img alt="Product" src="<%= asset_path('shop-widget-2.png') %>" />-->
                    <div class="description">
                      <span class="product-title">La Verne</span>
                      <!--<span class="price number">$249.50</span>-->
                    </div>
                  </a>
                </li>
              </ul>
              <!--<hr>
              <div class="cart-controls">
                  <a class="btn btn-sm btn-filled" href="#">Checkout</a>
                  <div class="list-inline pull-right">
                      <span class="cart-total">Total: </span>
                      <span class="number">$289.40</span>
                  </div>
              </div>-->
            </div>
            <!--end of widget-->
          </div>
        </div>
        <div class="module widget-handle language left">
          <ul class="menu">
            <li class="has-dropdown">
              <a href="#"><%= t('menu.languages.lang') %></a>
              <% other_locales = I18n.available_locales.reject!{ |k| k == I18n.locale } %>
                <ul>
                  <% other_locales.each do |l| %>
                  <li><a href='/<%=l%>'><%= t('menu.languages.lang', locale: l) %></a></li>
                  <% end %>
                </ul>
              <!--<a href="#">t('clan')</a>
              <ul>
                <li ng-repeat='(code, lang) in lang_list'>
                  <a href='/{{code}}'>{{lang}}</a>
                </li>-->
                <!--<li>
                  <a href="#">繁體中文</a>
                </li>
                <li>
                  <a href="#">简体中文</a>
                </li>-->
              <!--</ul>-->
            </li>
          </ul>
        </div>
        <div class="module widget-handle offscreen-toggle right">
          <i class="ti-menu"></i>
        </div>
      </div>
      <!--end of module group-->
    </div>
    <div class="offscreen-container bg-dark text-center">
      <div class="close-nav">
        <a href="#">
          <i class="ti-close"></i>
        </a>
      </div>
      <div class="text-center offscreen-menu">
      <!--<div class="v-align-transform text-center">-->
        <a href="#"><img alt="Logo" class="image-xs mb16 mb-xs-24" src="<%= asset_path('logo-light.png') %>"></a>
        <ul class="mb40 mb-xs-24">
          <li class="fade-on-hover"><a href="#"><h5 class="uppercase mb8">每 日 靈 修</h5></a></li>
        </ul>
        <p class="fade-half offscreen-content">
          施洗約翰說：「我曾看見聖靈，彷彿鴿子從天降下，住在祂的身上。」這裡講到一件很重要的事──神是看得見的。這位看得見的神，不僅是存在的神，祂更是又真又活的神，可以與我們交通、與我們互動！只是我們需要有一位中保在我們中間。舊約的中保是大祭司，藉著所獻的祭，摩西也是中保，是藉著所傳的神的話。現在有一位中保卻是更寶貴的，祂不用獻祭，祂本身就是祭；也不用告訴我們神的話，祂本身就是神的話。祂就是主耶穌基督，我們透過耶穌這位中保，來認識這位神。
         <!--   438 Malvern Road<br>
            Armadale, VIC 3134<br>
            (03) 38237 37263<br>
            hello@foundry.net-->
        </p>
        <ul class="list-inline social-list">
          <li>
            <a href="#">
              <i class="ti-twitter-alt"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-vimeo-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>