<div class="nav-container">
  <a id="top"></a>
  <nav class="absolute <%= @header_bg %>" data-fixed-at='200px'>
    <div class="nav-bar">
      <div class="module left">
        <%= link_to root_path(:locale => I18n.locale) do %>
          <img class="logo logo-light" alt="Foundry" src="<%= asset_path('logo-light.png') %>" />
          <img class="logo logo-dark" alt="Foundry" src="<%= asset_path('logo-dark.png') %>" />
        <% end %>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
        <div class="module left">
          <ul class="menu">
            <li>
              <a href="#time-lv" class="inner-link">聚會時間地點</a>
            </li>
            <li>
              <a href="#about-us-lv" class="inner-link">關於我們</a>
            </li>
            <li>
              <a href="#pastor-lv" class="inner-link">牧者簡介</a>
            </li>
            <li>
              <a href="#videos-lv" class="inner-link">主日訊息錄影</a>
                <ul>
                  <li>
                    <%= link_to videos_lv_path do %>
                      影音媒體
                    <% end %>
                  </li>
                </ul>
            </li>
          </ul>
        </div>
        <!--Keep only the location, language and script study-->
        <div class="module widget-handle cart-widget-handle left">
          <div class="cart">
            <span style='color: #fff;'>
              <%= link_to root_path do %>
                爾灣牧區
              <% end %>
            </span>
           <!-- <i class="ti-location-pin"></i>-->
            <!--<span class="label number">2</span>-->
            <!--<span class="title">Locations</span>-->
          </div>
        </div>
        
        <div class="module widget-handle offscreen-toggle right">
          <i class="ti-book"></i>
        </div>
      </div>
      <!--end of module group-->
    </div>
    <div class="offscreen-container bg-dark text-center">
      <div class="close-nav">
        <a href="#">
          <i class="ti-close"></i>
        </a>
      </div>
      <div class="text-center offscreen-menu daily-feed">
        <a href="#"><img alt="Logo" class="image-xs mb16 mb-xs-24" src="<%= asset_path('logo-light.png') %>"></a>

        <h4 class="uppercase mb0" style='color: #fff'>每 日 靈 修 </h4>
        <h5 class='mb8'><%= @rolcc_feed.date %></h5>
        <div class="offscreen-content">
          <h5 class='title mb8'><%= @rolcc_feed.book %></h5>
          <p class='mb16'><%= @rolcc_feed.short_script.html_safe%></p>
          <p class='mb8'><%= link_to rolcc_feed_path(@rolcc_feed), :target => '_blank', :class => 'btn btn-white btn-sm mb32 inner-link' do %> 閱讀更多 <% end %></p>
        </div>
        <ul class="list-inline social-list">
          <li>
            <a href="#">
              <i class="ti-twitter-alt"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-vimeo-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>