<!-- BEGIN QUICK NAV -->
<nav class="quick-nav">
  <a class="quick-nav-trigger" href="#0">
    <span aria-hidden="true"></span>
  </a>
  <ul>
    <li>
      <%= link_to rolcc_feeds_path(:locale => I18n.locale), :class => 'active', :target => '_blank' do %>
        <span>每日靈修小品</span>
        <i class="icon-book-open"></i>
      <% end %>
    </li>
    <li>
      <%# link_to give_path(:locale => I18n.locale), :class => 'active', :target => '_blank' do %>
        <a href='https://tithe.ly/give?c=96410' target='_blank'>
          <span>奉獻</span>
          <i class="icon-heart"></i>
        </a>
      <%# end %>
    </li>
    <li>
      <%= link_to newsletters_path(:locale => I18n.locale), :target => '_blank' do %>
        <span>週報下載</span>
        <i class="icon-docs"></i>
      <% end %>
    </li>
    <li>
      
      <%# link_to give_path(:locale => I18n.locale), :class => 'active', :target => '_blank' do %>
        <%= link_to calendar_path(:locale => I18n.locale), :target => '_blank' do %>
          <span>教會行事曆</span>
          <i class="icon-calendar"></i>
        <% end %>
      <%# end %>
    </li>
    <li>
      <%# link_to give_path(:locale => I18n.locale), :class => 'active', :target => '_blank' do %>
        <%= link_to bible_search_path(:locale => I18n.locale), :target => '_blank' do %>
          <span>聖經經文查詢</span>
          <i class="icon-note"></i>
        <% end %>
      <%# end %>
    </li>
    <li>
      <%= link_to contact_path(:locale => I18n.locale, :topic => '網站問題回報'), :target => '_blank' do %>
        <span>網站問題回報</span>
        <i class="icon-exclamation"></i>
      <% end %>
    </li>
    <li class='modal-container'>
      <a href='#' class='btn-modal'>
        <span>訂閱電子報</span>
        <i class="icon-feed"></i>
      </a>
      <div class="foundry_modal text-center image-bg overlay">
    <div class="background-image-holder">
      <img alt="Background" class="background-image" src="//files.nlccoc.org/uploads/library/attachment/273/newletter.jpg" />
    </div>
    <h3 class="uppercase">訂閱電子報</h3>
    <p class="lead mb48">
        您想要隨時更新新生命靈糧堂最新資訊嗎? <br>
        我們會不定時更新最新的資訊，主日活動，特會，以及陳牧師 神的話語分享喔!
    </p>
    <form class="form-newsletter halves mb160" data-success="感謝您的訂閱，請至您的電子信箱回復確認信即可!" data-error="請填入您的 email">
      <input type="text" name="email" class="mb0 transparent validate-email validate-required  signup-email-field" placeholder="Email Address" />
      <button type="submit" class="mb0">訂閱</button>
      <iframe srcdoc="<!-- Begin MailChimp Signup Form --><link href=&quot;https://cdn-images.mailchimp.com/embedcode/classic-081711.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;><style type=&quot;text/css&quot;> #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }   /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */</style><div id=&quot;mc_embed_signup&quot;><form action=&quot;https://nlccoc.us16.list-manage.com/subscribe/post?u=3c4ffae135aee88f4c9f31631&amp;id=cbac5a3cea&quot; method=&quot;post&quot; id=&quot;mc-embedded-subscribe-form&quot; name=&quot;mc-embedded-subscribe-form&quot; class=&quot;validate&quot; target=&quot;_blank&quot; novalidate>    <div id=&quot;mc_embed_signup_scroll&quot;>   <h2>Subscribe to our mailing list</h2><div class=&quot;indicates-required&quot;><span class=&quot;asterisk&quot;>*</span> indicates required</div><div class=&quot;mc-field-group&quot;>    <label for=&quot;mce-EMAIL&quot;>Email Address  <span class=&quot;asterisk&quot;>*</span></label>   <input type=&quot;email&quot; value=&quot;&quot; name=&quot;EMAIL&quot; class=&quot;required email&quot; id=&quot;mce-EMAIL&quot;></div><div class=&quot;mc-field-group&quot;>  <label for=&quot;mce-FNAME&quot;>First Name </label>    <input type=&quot;text&quot; value=&quot;&quot; name=&quot;FNAME&quot; class=&quot;&quot; id=&quot;mce-FNAME&quot;></div><div class=&quot;mc-field-group&quot;> <label for=&quot;mce-LNAME&quot;>Last Name </label> <input type=&quot;text&quot; value=&quot;&quot; name=&quot;LNAME&quot; class=&quot;&quot; id=&quot;mce-LNAME&quot;></div>   <div id=&quot;mce-responses&quot; class=&quot;clear&quot;>      <div class=&quot;response&quot; id=&quot;mce-error-response&quot; style=&quot;display:none&quot;></div>     <div class=&quot;response&quot; id=&quot;mce-success-response&quot; style=&quot;display:none&quot;></div>   </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->    <div style=&quot;position: absolute; left: -5000px;&quot;><input type=&quot;text&quot; name=&quot;b_77142ece814d3cff52058a51f_94d040322a&quot; tabindex=&quot;-1&quot; value=&quot;&quot;></div>    <div class=&quot;clear&quot;><input type=&quot;submit&quot; value=&quot;Subscribe&quot; name=&quot;subscribe&quot; id=&quot;mc-embedded-subscribe&quot; class=&quot;button&quot;></div>    </div></form></div><script type='text/javascript' src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script><!--End mc_embed_signup-->" class="mail-list-form">
      </iframe>
      
    </form>
  </div>
    </li>
    
    <!--<li>
        <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/reviews/4021469?ref=keenthemes" target="_blank">
            <span>Customer Reviews</span>
            <i class="icon-users"></i>
        </a>
    </li>
    <li>
        <a href="http://keenthemes.com/showcast/" target="_blank">
            <span>Showcase</span>
            <i class="icon-user"></i>
        </a>
    </li>
    <li>
        <a href="http://keenthemes.com/metronic-theme/changelog/" target="_blank">
            <span>Changelog</span>
            <i class="icon-graph"></i>
        </a>
    </li>-->
  </ul>
  <span aria-hidden="true" class="quick-nav-bg"></span>
</nav>
      
<div class="quick-nav-overlay"></div>
<!-- END QUICK NAV -->