<div class="nav-container">
  <a id="top"></a>
  <nav class="absolute <%= @header_bg %>">
    <div class="nav-bar">
      <div class="module left">
        <%= link_to root_path(:locale => I18n.locale) do %>
          <img class="logo logo-light" alt="Foundry" src="<%= asset_path('logo-light.png') %>" />
          <img class="logo logo-dark" alt="Foundry" src="<%= asset_path('logo-dark.png') %>" />
        <% end %>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
        <div class="module left">
          <ul class="menu">   
            <li class="">
              <%= link_to root_path(:locale => I18n.locale, :anchor => 'connect'), { :class => 'inner-link'} do %>
                <%= t('rooted') %>
              <% end %>
                <ul>
                  <li><%= link_to cellgroups_path(:locale => I18n.locale) do %><%= I18n.t('cellgroups') %><% end %></li>
                  <li><%= link_to youngadults_path(:locale => I18n.locale) do %><%= I18n.t('yg') %><% end %></li>
                  <li><%= link_to children_path(:locale => I18n.locale) do %><%= I18n.t('sundayschool') %><% end %></li>
                </ul>
            </li>
            <li>
              <%= link_to root_path(:locale => I18n.locale, :anchor => 'events'), { :class => 'inner-link'} do %>
                  <%= t('events') %>
              <% end %>
            </li>
            <li class="">
              <%= link_to root_path(:locale => I18n.locale, :anchor => 'ministries'), { :class => 'inner-link'} do %>
                <%= t('ministries') %>
              <% end %>
              <ul>
                <li><%= link_to '#' do %><%= I18n.t('ministryworship') %><% end %></li>
                <li><%= link_to '#' do %><%= I18n.t('ministryequip') %><% end %></li>
                <li><%= link_to '#' do %><%= I18n.t('ministryprayer') %><% end %></li>
                <li><%= link_to '#' do %><%= I18n.t('ministrymission') %><% end %></li>
              </ul>
            </li>
            <!--<li class="has-dropdown">-->
            
            <li class="Media">
              <%= link_to teach_path(:locale => I18n.locale) do %>
                <%= t('media') %>
              <% end %>
              <ul>
                <li><%= link_to newsletters_path(:locale => I18n.locale) do %>週報下載<% end %></li>
                <li><%= link_to videos_path(:locale => I18n.locale) do %><%= I18n.t('mediavideo') %><% end %></li>
                <li><%= link_to audio_path(:locale => I18n.locale) do %><%= I18n.t('mediaaudio') %><% end %></li>
                <li><%= link_to rolcc_feeds_path(:locale => I18n.locale) do %><%= I18n.t('dailydevitions') %><% end %></li>
              </ul>
            </li>
            <li class="">
                <%= link_to give_path(:locale => I18n.locale) do %>
                    <%= t('give') %>
                <% end %>
            </li>
            <li>
              <%= link_to root_path(:locale => I18n.locale, :anchor => 'whoweare'), { :class => 'inner-link'} do %>
                <%= t('who') %>
              <% end %>
              <ul>
                <li><%= link_to about_path(:locale => I18n.locale) do %><%= t('menu.about') %><% end %></li>
                  <li><%= link_to pastors_path(:locale=> I18n.locale) do %><%= t('pastoralteam') %><% end %></li>
                  <li><%= link_to contact_path(:locale=> I18n.locale) do %><%= t('contact') %><% end %></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="module widget-handle cart-widget-handle left">
          <div class="cart">
            <span style='color: #fff;'>
              <a href="https://nlccla.org">
                庫卡蒙加牧區
              </a>
            </span>
           <!-- <i class="ti-location-pin"></i>-->
            <!--<span class="label number">2</span>-->
            <!--<span class="title">Locations</span>-->
          </div>
          
        </div>
        <!--<div class="module widget-handle language left">
          <ul class="menu">
            <li class="has-dropdown">
              <a href="#"><%= t('menu.languages.lang') %></a>
              <% other_locales = I18n.available_locales.reject{ |k| k == I18n.locale } %>
              <ul>
                <% other_locales.each do |l| %>
                <li>
                  <%= link_to url_for( :locale => l ) do %>
                    <%= t('menu.languages.lang', locale: l) %>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>-->
        <div class="module widget-handle offscreen-toggle right">
          <i class="ti-book"></i>
        </div>
      </div>
      <!--end of module group-->
    </div>
    <div class="offscreen-container bg-dark text-center">
      <div class="close-nav">
        <a href="#">
          <i class="ti-close"></i>
        </a>
      </div>
      <div class="text-center offscreen-menu">
      <!--<div class="v-align-transform text-center">-->
        <a href="#"><img alt="Logo" class="image-xs mb16 mb-xs-24" src="<%= asset_path('logo-light.png') %>"></a>
        <h4 class="uppercase mb0" style='color: #fff'><%= I18n.t('dailydevotion') %></h4>
        <h5 class='mb8'><%= @rolcc_feed.date %></h5>
        <div class="offscreen-content">
          <h5 class='title mb8'><%= @rolcc_feed.book %></h5>
          <p class='mb16'><%= @rolcc_feed.short_script.html_safe%></p>
          <p class='mb8'><%= link_to rolcc_feed_path(@rolcc_feed), :target => '_blank', :class => 'btn btn-white btn-sm mb32 inner-link' do %> 閱讀更多 <% end %></p>
        </div>
        <ul class="list-inline social-list">
          <li>
            <a href="#">
              <i class="ti-twitter-alt"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="ti-vimeo-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>