<h1>New</h1>

<%= form_for(@library, html: { multipart: true} ) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.file_field :attachment, acccpet: 'image/jpg,image/png,image/gif' %>
  
  <%= f.submit(@library.new_record? ? 'Create library':'Edit library') %>
<% end %>