<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :short_desc %><br>
    <%= f.text_area :short_desc %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :datetime %><br>
    <%= f.datetime_select :datetime, :order => [:year, :month, :day, :hour, :minute] %>
  </div>
  <div class="field">
    <%= f.label :event_period %><br>
    <%= f.number_field :event_period %>
  </div>
  
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.collection_select(:category_ids, Category.all, :id, :translated_name,{ :selected => @event.categories.collect {|r| r.id} }, {:multiple => true}) %>
  </div>
  <div class="field">
    <%= f.label :repeat %>
    <% if @event.repeat_metum.present? %>
      <%= radio_button_tag(:repeat, "true", true) %>
    <% else %>
      <%= radio_button_tag(:repeat, "true") %>
    <% end %>
    
    <%= label_tag(:repeat_true, "Yes") %>
    <% if @event.repeat_metum.present? %>
      <%= radio_button_tag(:repeat, "false") %>
    <% else %>
      <%= radio_button_tag(:repeat, "false", true) %>
    <% end %>
    <%= label_tag(:repeat_false, "No") %>
  </div>
  <div class="field">
    <%= f.label :valid_until %><br>
    <% if @event.repeat_metum.empty? %>
      <%= date_select :valid_until, :date %>
    <% else %>
      <%= date_select :valid_until, :date, default: Date.new(@event.repeat_metum.first.valid_until.year, @event.repeat_metum.first.valid_until.month, @event.repeat_metum.first.valid_until.day)%>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
