<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :interval_min %><br>
    <%= f.number_field :interval_min %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :interval_day %><br>
    <%= f.number_field :interval_day %>
  </div>
  <div class="field">
    <%= f.label :more_link %><br>
    <%= f.text_field :more_link %>
  </div>
  <div class="field">
    <%= f.label :event_type %><br>
    <%= f.collection_select(:event_type_id, EventType.all, :id, :name, :variable => 'Please select type') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
