
<p class='mt64' id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Short Desc</th>
      <th>Start Date</th>
      <th>Next Date</th>
      <th>Time</th>
      <th>Interval(min)</th>
      <th>Event Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %>, <%= event.id %></td>
        <td><%= event.short_desc %></td>
        <td><%= event.datetime.strftime("%Y/%m/%d") %></td>
        <td><%= event.latest_date %></td>
        <td><%= event.datetime.strftime("%I:%M %p") %></td>
        <td><%= event.event_period %></td>
        <td><% event.categories.each do |c| %>
              <div><%= t(c.name) %></div> 
          <% end %>
        </td>
        <td><%= link_to 'Goto', event_path(event) %></td>
        <td><%= link_to "Edit", edit_event_path(event) %></td>
        <td><%= link_to 'Delete', event_path(event), data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
<%= I18n.available_locales %>, <%= I18n.locale%>
<% other_locales = I18n.available_locales.reject{ |k| k == I18n.locale } %>

<%= other_locales %>

<%= (1..30).reject { |n| n % 2 == 0 } %>
