<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Short Desc:</strong>
  <%= @event.short_desc %>
</p>
<p>
  <strong>Desc:</strong>
  <hr />
  <%= @event.decodeURIComponent.html_safe %>
  <hr />
</p>

<p>
  <strong>Start Date:</strong>
  <%= @event.datetime.to_date %>
</p>

<p>
  <strong>Next Date:</strong>
  <%= @event.latest_date %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @event.datetime.strftime("%I:%M%p") %>
</p>

<p>
  <strong>Interval min:</strong>
  <%= @event.event_period %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Repeat:</strong>
  <% if @event.repeat_metum.nil? %>
    No
  <% else %>
    Yes
  <% end %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
