<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @event.desc %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Interval min:</strong>
  <%= @event.interval_min %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Interval day:</strong>
  <%= @event.interval_day %>
</p>

<p>
  <strong>More link:</strong>
  <%= @event.more_link %>
</p>

<p>
  <strong>Event Type:</strong>
  <%= @event.event_type.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
