<div class="main-container">
  <section class="cover fullscreen image-bg overlay parallax">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="<%= asset_path('prop1.jpg') %>" />
    </div>
    <div class='container mt80'></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
            <h1 class="large uppercase mb16"><%= @event.title %></h1>
            <h5 class="uppercase mb0"><%= @event.short_desc %></h5>
        </div>
      </div>
      
      <div class='row mt80'>
        <div class='col-md-9' id='desc'>
          <%= @event.desc %>
        </div>
        <div class='col-md-3'>
          <div class="widget">
            <h6 class="title">Event Info</h6>
            <hr>
            <ul class="cart-overview">
              <li class='mb0'>
                <i class="icon-calendar3"></i>
                <div class="description">
                  <span><%= "#{@event.latest_date.strftime("%-d").to_i.ordinalize} #{@event.latest_date.strftime("%B")}, #{@event.latest_date.strftime("%Y")}" %></span>
                </div>
              </li>
              <li class='mb0'>
                <i class="icon-time"></i>
                <div class="description">
                  <span><%= "#{@event.datetime.strftime("%A %I:%M %p")}" %></span>
                </div>
              </li>
              <li class='mb0'>
                <i class="icon-map-marker2"></i>
                <div class="description">
                  <span><%= "#{@event.location}" %></span>
                </div>
              </li>
              <li class='mb0'>
                <i class="icon-arrow-right2"></i>
                <div class="description">
                  <span><%= "#{I18n.t('datetime.distance_in_words.x_minutes.other', count: @event.event_period)}" %></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    <!--<div class="align-bottom relative-xs text-center">
        <a class="btn btn-filled btn-lg mb32 mt-xs-40" href="#">Register Interest</a>
    </div>-->
  </section>
</div>
<script>

console.log($('#demo').html(unescape($('#demo').html())))
$('#desc').html(unescape($('#demo').html()));
</script>