<div class="main-container">
    <section class="cover fullscreen image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="<%= asset_path('prop1.jpg') %>" />
        </div>
        <div class='container mt80'></div>
        <!--<div class="container v-align-transform">-->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="large uppercase mb16">53 Hopetoun Rd.</h1>
                    <h5 class="uppercase mb0">Contemporary Living In The Heart Of Toorak</h5>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
        <!--<div class="align-bottom relative-xs text-center">
            <a class="btn btn-filled btn-lg mb32 mt-xs-40" href="#">Register Interest</a>
        </div>-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                <div class="col-sm-6 col-md-5">
                    <h2 class="uppercase color-primary">The Perfect Place To Call Home</h2>
                    <hr>
                    <p>
                        Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <div class="col-sm-6 col-md-offset-1 p0">
                    <div class="col-sm-6 text-center">
                        <div class="feature bordered mb30">
                            <h1 class="large uppercase">5</h1>
                            <h5 class="uppercase">Bedrooms</h5>
                        </div>
                    </div>
                    <!--end 6 col-->
                    <div class="col-sm-6 text-center">
                        <div class="feature bordered mb30">
                            <h1 class="large">2</h1>
                            <h5 class="uppercase">Living</h5>
                        </div>
                    </div>
                    <!--end 6 col-->
                    <div class="col-sm-6 text-center">
                        <div class="feature bordered mb30">
                            <h1 class="large">4</h1>
                            <h5 class="uppercase">Bathroom</h5>
                        </div>
                    </div>
                    <!--end 6 col-->
                    <div class="col-sm-6 text-center">
                        <div class="feature bordered mb30">
                            <h1 class="large">3</h1>
                            <h5 class="uppercase">Parking</h5>
                        </div>
                    </div>
                    <!--end 6 col-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="p0">
        <div class="image-slider slider-all-controls controls-inside">
            <ul class="slides">
                <li>
                    <img alt="Image" src="img/prop2.jpg" />
                </li>
                <li>
                    <img alt="Image" src="img/prop3.jpg" />
                </li>
                <li>
                    <img alt="Image" src="img/prop4.jpg" />
                </li>
            </ul>
        </div>
        <!--end of image slider-->
    </section>
    <section>
        <div class="container">
            <div class="row v-align-children">
                <div class="col-sm-6 text-center mb-xs-24">
                    <div class="map-holder inline cast-shadow">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d830.1903182113743!2d145.02827460000051!3d-37.8476007885974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6420cc72a797b%3A0xa2703791b8ec5004!2sHopetoun+Rd%2C+Toorak+VIC+3142!5e1!3m2!1sen!2sau!4v1428447656032"></iframe>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-md-push-1">
                    <h2 class="uppercase color-primary">Prime Location</h2>
                    <h5 class="uppercase">Melbourne's Sophisticated Inner South-East</h5>
                    <hr>
                    <p class="mb0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>
<div class='container'>
  <div class='col-md-12'>
    <p id="notice"><%= notice %></p>
    
    <p>
      <strong>Title:</strong>
      <%= @event.title %>
    </p>
    
    <p>
      <strong>Short Desc:</strong>
      <%= @event.short_desc %>
    </p>
    <p>
      <strong>Desc:</strong>
      <hr />
      <span id='demo'><%= @event.desc %></span>
      <hr />
    </p>
    
    <p>
      <strong>Start Date:</strong>
      <%= @event.datetime.to_date %>
    </p>
    
    <p>
      <strong>Next Date:</strong>
      <%= @event.latest_date %>
    </p>
    
    <p>
      <strong>Start Time:</strong>
      <%= @event.datetime.strftime("%I:%M%p") %>
    </p>
    
    <p>
      <strong>Interval min:</strong>
      <%= @event.event_period %>
    </p>
    
    <p>
      <strong>Location:</strong>
      <%= @event.location %>
    </p>
    
    <p>
      <strong>Repeat:</strong>
      <% if @event.repeat_metum.nil? %>
        No
      <% else %>
        Yes
      <% end %>
    </p>
    
    
    <%= link_to 'Edit', edit_event_path(@event, :locale=>I18n.locale) %> |
    <%= link_to 'Back', events_path(:locale => I18n.locale) %>
  </div>
</div>
<script>

console.log($('#demo').html(unescape($('#demo').html())))
</script>