<section class="cover fullscreen image-slider slider-all-controls controls-inside slider-arrow-controls parallax">
  <ul class="slides">
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="<%= asset_path('bg2.jpg') %>">
      </div>
      <div class="container v-align-transform" style='height: 387px;'>
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb16 large uppercase banner-title nlcc-title"><%= t('nlcc') %></h2>
            <h5 class="uppercase mb32 mt64 nlcc-sub-title"><%= t('connect') %></h5>
            <div class="text-center">
              <a class="btn btn-white btn-lg mb32 mt24 inner-link" href="#connect">加入一個適合你的小組</a><br><br><br><br><br><br>
              
              <ul class="list-inline social-list mb40 mt64">
                <li>
                  <a href="#">
                    <i class="ti-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-soundcloud"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-vimeo-alt"></i>
                  </a>
                </li>
              </ul>
              <div class="text-center hidden-xs mb0" style='height:50px;'>
                <a class='inner-link' href='#whoweare'><div class="mouse"><span></span></div></a>
                <!--<a class='inner-link one-page-arrow' href='#whoweare'><i class="icon-angle-down infinite animated fadeInDown"></i></a>-->
              </div>
            </div>
            
            
          </div>
          
            <!--<div class="modal-container mb0">
                <div class="play-button btn-modal inline large mt-xs-0"></div>
                <div class="foundry_modal no-bg">
                    <iframe data-provider="vimeo" data-video-id="25737856" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>-->
            <!--end of modal video-->
          </div>
        
      </div>
    </li>
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="//files.natecheng.me/uploads/library/attachment/65/dedication.jpg">
      </div>
      <div class="container v-align-transform" style='height: 387px;'>
        <div class="row">
          <div class="col-md-offset-1 col-md-10 text-center">
            <h1 class="mb40 mb-xs-16 large dedication_title" style='font-weight:300;'>新生命獻堂慶典</h1>
            <!--<h3 class="uppercase mb16" style=''>A Celebration of Dream Come True</h3>-->
            <p class="lead mb40 large mt24 dedication_desc" style=''>
              新生命「歡慶奇蹟」獻堂典禮謹訂於六月三日（週六）上午十點（九點半開始入場）舊朋友、新朋友，您都是我們最珍貴的朋友！
請預留時間，和我們一起歡慶美好奇蹟的誕生見證這美夢成真的時刻！
            </p>
            <a class="btn btn-white btn-lg inner-link" href="http://nlccrsvp.com" target='_blank'>Dedication RSVP</a>
            <p class='dedication_slogan'>Church Dedication</p>
            <div class="modal-container dedication_play">
                <div class="play-button btn-modal inline large mt-xs-0 dedication-play-button"></div>
                <div class="foundry_modal no-bg">
                    <iframe data-provider="youtube" data-video-id="1PWnjfORa1o" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="//files.natecheng.me/uploads/library/attachment/68/equip123-bg.jpg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb8 large uppercase equip-title jf-handyblack-w6">2017 R.E.A.L. 裝備課程</h2>
            <h2 class="mb64 large uppercase equip-title jf-handyblack-w6 mt0">讓屬靈生命成為真實的經驗</h2>
            <p class='book-joel'>The Book of Joel <span class='temp-joel-title'>浩劫餘生</span></p>
            <p class='title-joel'>約珥書</p>
            
            <p class='time-joel'>4/30 9:50AM-10:50AM @ M1</p>
            <p class='desc-joel'>一起來認識這位透視末後大災難的先知</p>
          </div>
        
        </div>
      </div>
    </li>
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="<%= asset_path('bg22.jpg') %>">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb16 large uppercase banner-title kids-webinar-title">親子講堂：提升孩子人際能力(EQ)，避免校園欺凌 </h2>
            <h5 class="uppercase mb16">5/13 週六 早上 10:00AM - 12:00PM </h5>
            <p style='font-size:16px;'>地點: <span style='color: #f2784b;'>新生命靈糧堂 ( 新住址! )</span></p>
            <p style='font-size:16px;'><a href="https://goo.gl/maps/uYbf9v6Ygd62" target="_blank"><i style='color: #f2784b;' class="ti-location-pin"></i> 1518 Brookhollow Dr. Santa Ana, CA, 92705</a></p>
            <p style='margin-bottom:64px;'><span><a href='tel:+19499238889'>949.923.8889</a> | <a href='mailto: iLink1518USA.gmail.com'>iLink1518USA.gmail.com</a>‬</span></p>
            <div class="text-center">
              <%= link_to event_path(:id => 14, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>&nbsp; <a class="btn btn-white mb32 inner-link" href="https://goo.gl/forms/XOJV4m6vhvzwjJPa2" target='_blank'>報名參加</a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="overlay image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="//files.natecheng.me/uploads/library/attachment/147/courage.jpg">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-10 col-sm-14">
            <h1 class="mb16 mb-xs-16 large banner-title" style='font-size:48px;'>
              Pastor Quoc: The Courageous Are Chosen</h1>
            <h6 class="uppercase lead">5/5 - 5/7 週五晚上 7:30 PM / 週六晚餐 / 週日主日</h6>
            <p class="lead mb40">
              神並非專門挑選那些很厲害、很強的人做他大能的勇士；他尋找溫順恭謙、忠實守信的人與他同工，因為唯有勇氣能成就這樣的凱旋得勝。
            </p>
            
            <p>
              <b>週五晚間青年大組聚會</b>: 當天Pastor Quoc將與青年牧區三的小組以及有興趣的青年朋友一起敬拜、分享 "The Courageous Are Chosen"主題信息。</p>
                       
            <p>
              <b>週六晚餐聚會</b>: 我們正在計畫和Pastor Quoc共進晚餐的聚會，歡迎聯絡Moses傳道瞭解更多資訊。
            </p>
            <p>
              <b>
                週日上午11點主日講道
              </b>:
              Pastor Quoc 將與全教會分享 "The Arising Church”主題信息。  
            </p>
            <%= link_to event_path(:id => 15, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>
            
          </div>
        </div>
          
      </div>
        
    </li>
  </ul>
</section>