<section class='pt0 events' id='events'>
  <div class="fluid-container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="uppercase fade-1-4 mb64"><%= t('eventsandconferences') %></h3>
        </div>
      </div>
      <div class="text-center swiper-container">
        <div class="swiper-wrapper">
          <% @featured_events.each do |f_event| %>
          <div class="swiper-slide" data-swiper-autoplay="5000">
            <div class='event-img'>
              <%= link_to event_path(:id => f_event.id) do %><img alt="Pic" src="<%= f_event.featured_info.image_path %>" class='mb0'/> <% end %>
              <div class="entry-date"><%= f_event.latest_date.strftime("%d")%><span><%= f_event.latest_date.strftime("%b")%></span></div>
            </div>
            <div class='event-title'> 
              <p><%= f_event.featured_info.title %></p> 
              <p><%= f_event.featured_info.subtitle%></p>
            </div>
            <hr class="divider">
            <div class='event-desc'>
              <%= "#{f_event.latest_date.strftime("%b")} #{f_event.latest_date.strftime("%-d").to_i.ordinalize}, #{f_event.latest_date.strftime("%A %I:%M %p")}" %>
            </div>
          </div>
          <% end%>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"><span><i class="ti-angle-right" aria-hidden="true"></i></span></div>
        <div class="swiper-button-prev"><span><i class="ti-angle-left" aria-hidden="true"></i></span></div>
      </div>
      
      <div class='col-md-12 text-center'>
        <a href='#' class="btn btn-fire btn-lg mt40" id='mevent'><%= t('moreevents') %></a>
        <a href='#' class="btn btn-fire btn-lg mt40" id='tevent' style='display:none;'>Close Panel</a>
      </div>
      <div class="row frontpage moreevent mt40" style='display: none;'>
        <div class="col-md-8 col-md-offset-2">
          <div class="tabbed-content button-tabs">
            <ul class="tabs forths mb64 mb-xs-24">
              <% @categories.each_with_index do |category, idx|%>
                <% if idx==0 %>
                <li class='active'>
                <% else %>
                <li>
                <% end %>
                  <div class="tab-title">
                    <%= t(category.name)%>
                  </div>
                  <div class="tab-content text-left">
                  <div>
                    <% category.events.each do |event| %>
                      <% if event.available? %>
                        <div class="overflow-hidden">
                          <div class="inline-block pull-left col-md-8">
                            <h6 class="uppercase mb8">
                              <%= event.latest_date_str %>
                              <%= t('date.abbr_day_names')[event.datetime.wday] %> 
                              <%= event.datetime.strftime("%I:%M %p") %> - <%= Time.at(event.datetime.to_time.to_i + 60*event.event_period).strftime("%I:%M %p") %>
                              </h6>
                            <h4><%= event.title %></h4>
                            <p class="mb0">
                                <%= event.short_desc %>
                                <a href="#"></a>
                            </p>
                          </div>
                          <div class="inline-block pull-right pt80 pt-xs-24 col-md-4">
                            <%= link_to event_path(event, :locale => I18n.locale), :class => "btn btn-fire btn-lg pull-right", :data => { :no_turbolink => 'true'} do %>
                              Read More
                            <% end %>
                          </div>
                        </div>
                        <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                      <% end %>
                    <% end %>
                  </div>
                  <!--end of class-->
                </div>
                  <!--end of tab content-->
                </li>
              <% end %>
              
            </ul>
          </div>
          <!--end of button tabs-->
        </div>
      </div>
  </div>
  <!--end of container-->
  </section>