<section class="page-title page-title-4 image-bg overlay parallax fp_give_height" id='give'>
  <div class="background-image-holder">
      <img alt="Background Image" class="background-image" src="<%= asset_path('give_bg.jpg') %>" />
  </div>
  <div class="container" id='section-give'>
      <div class="row">
        <div class="col-sm-12 text-center" style='padding-top: 30px; z-index:999; color: #fff'>
          <!--<h2 class="uppercase mb8" style='color: #fff; font-weight: 700;'>We Give <span style='font-size: 20px;'><i>because</i></span> God First Gave To</h2>-->
          <h2 class="uppercase mb8 text-center"><%= I18n.t('givingtitle1') %><br><%= I18n.t('givingtitle2') %></h2>
          <p class="lead mb24"><%= I18n.t('givingsubtitle') %></p>
          <%# link_to give_path(:locale => I18n.locale), { :class => 'btn btn-lg mb40 mt40 tithely-give-btn', 'data-church-id' => '96410'} do %>
            <button class="btn btn-lg mb40 mt40 tithely-give-btn" style='background-color: transparent;' data-church-id="96410">
            <%= I18n.t('onlinegiving') %>
            </button>
          <%# end %>
        </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
  <script>
    var config = {};
    var tw = create_tithely_widget(config);
  </script>
</section>