<section class='connect'>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="uppercase mb40 mb-xs-24" id='connect'><%= t('rooted') %></h2>
        <p class="lead">
          
          Spiritual maturity is for everyone — no matter what your age is
        </p>
        <p class='lead mb40'>加入一個合適自己的小組，學習、成長並紮根。在生命中得到成長與轉變，活出基督的樣式。</p>
      </div>
    </div>
    <!--end of row-->
    <div class="row text-center">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= link_to cellgroups_path do %>
          <div class="image-tile hover-tile outer-title text-center">
            
            <img alt="Pic" src="<%= asset_path('cellgroups.jpg') %>" class='mb0'/>
            <div class="hover-state" style='top:35%; cursor: pointer'>
              <h1><i class="ti-search"></i></h1>
            </div>

            <div class="title mb0 pt16" style='background-color: #fff; color: #666;'>
                <h5 class="uppercase mb0">細胞小組</h5>
                <span>尋找一個小組並扎根</span>
            </div>
            <p class="mb0 pt16" style='background-color: #fff; color: #666;'>
                小組是教會生活的機元組織，在小組中組員得到牧養、受裝備去參與服事、以及彼此造就。小組的二大宗旨是對內彼此造就，對外傳福音；透過群體及關係來為主得人，完成大使命。
            </p>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= link_to youngadults_path do %>
          <div class="image-tile hover-tile outer-title text-center">
            <div class="hover-state" style='top:35%; cursor: pointer'>
              <h1><i class="ti-search"></i></h1>
            </div>
            <img alt="Pic" src="<%= asset_path('youngadults.jpg') %>" class='mb0'/>
            <div class="title mb0 pt16" style='background-color: #fff; color: #666;'>
              <h5 class="uppercase mb0">青年牧區</h5>
              <span>讓年輕人一同成長，學習服侍</span>
            </div>
            <p class="mb0 pt16" style='background-color: #fff; color: #666;'>
              讓年輕人在 神的帶領下一同成長，一起歡樂，一起侍奉 神。在交友，戀愛、婚姻等人生大事上，有好的見證和榜樣。 
            </p>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <%= link_to children_path do %>
          <div class="image-tile hover-tile outer-title text-center">
            <div class="hover-state" style='top:35%; cursor: pointer'>
              <h1><i class="ti-search"></i></h1>
            </div>
            <img alt="Pic" src="<%= asset_path('children.jpg') %>"class='mb0' />
            <div class="title mb0 pt16" style='background-color: #fff; color: #666;'>
                <h5 class="uppercase mb0">兒童主日</h5>
                <span>讓孩子在神國度中成長</span>
            </div>
            <p class="mb0 pt16" style='background-color: #fff; color: #666;'>
              藉由聖經故事的分享，使學生看到聖經中的主角是神。並把神的話語紮根在孩子心中，成為一生的行為準則。另外透過老師們的身教示範，以及和孩子建立關係，讓孩子學習敬畏神、愛神等美好的態度。
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>