<li class="overlay image-bg">
  <div class="background-image-holder paraOn">
    <img alt="image" class="background-image" src="<%= asset_path('bg22.jpg') %>">
  </div>
  <div class="container v-align-transform">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="mb16 large uppercase banner-title kids-webinar-title">親子講堂：如何培養孩子忍受挫折和解決問題的能力</h2>
        <h5 class="uppercase mb16">4/15 週六 早上 10:00 - 12:00 </h5>
        <p style='font-size:16px;'>地點: 新生命靈糧堂 ( 新住址! )</p>
        <p style='font-size:16px; margin-bottom:64px'>1518 Brookhollow Dr. Santa Ana, CA, 92705</p>
        <div class="text-center">
          <%= link_to event_path(:id => 12, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>&nbsp; <a class="btn btn-white mb32 inner-link" href="https://goo.gl/forms/CVYGniBB9VkZNWcU2" target='_blank'>報名參加</a>
        </div>
      </div>
    
    </div>
  </div>
</li>
<!--<li class="overlay image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="<%= asset_path('home33.jpg') %>">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <h1 class="mb16 mb-xs-16 large banner-title" style='font-size:48px;'>
              <div>親子講堂：</div>如何幫助孩子獨立負責任</h1>
            <h6 class="uppercase lead">2/18 週六 早上 11:20</h6>
            <p class="lead mb40">
              國際愛鄰協會再次邀請了大受歡迎的電台親子節目名住持人王祈老師與我們分享 0 ~ 12 歲兒童教養議題。
            </p>
            <p>報名單堂：一堂15元</p>
            <%= link_to event_path(:id => 12, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>&nbsp; <a class="btn btn-white mb32 inner-link" href="#">報名參加</a>
          </div>
        </div>
          
      </div>
        
    </li>-->
    
    <!--<li class="overlay image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="<%= asset_path('home22.jpg') %>">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <h1 class="mb40 mb-xs-16 large">New Life Christian Center</h1>
            <h6 class="uppercase mb16">Get Suppliers outside, find Jesus inside.</h6>
            <p class="lead mb40" style='font-style: italic;'>
              I am the way and the truth and the life. No one comes to the Father except through me<span class='bible'> ~ John 14:6.</span>
            </p>
            <a class="btn btn-lg" href="#">Start Exploring</a>
          </div>
        </div>
      </div>
    </li>-->
    
    
    <!--<li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="<%= asset_path('bg22.jpg') %>">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb16 large uppercase banner-title kids-webinar-title">親子講堂：提升孩子人際能力(EQ)，避免校園欺凌 </h2>
            <h5 class="uppercase mb16">5/13 週六 早上 10:00AM - 12:00PM </h5>
            <p style='font-size:16px;'>地點: <span style='color: #f2784b;'>新生命靈糧堂 ( 新住址! )</span></p>
            <p style='font-size:16px;'><a href="https://goo.gl/maps/uYbf9v6Ygd62" target="_blank"><i style='color: #f2784b;' class="ti-location-pin"></i> 1518 Brookhollow Dr. Santa Ana, CA, 92705</a></p>
            <p style='margin-bottom:64px;'><span><a href='tel:+19499238889'>949.923.8889</a> | <a href='mailto: iLink1518USA.gmail.com'>iLink1518USA@gmail.com</a>‬</span></p>
            <div class="text-center">
              <%= link_to event_path(:id => 14, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>&nbsp; <a class="btn btn-white mb32 inner-link" href="https://goo.gl/forms/XOJV4m6vhvzwjJPa2" target='_blank'>報名參加</a>
            </div>
          </div>
        </div>
      </div>
    </li>-->
    <!--<li class="overlay image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="//files.nlccoc.org/uploads/library/attachment/147/courage.jpg">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-10 col-sm-14">
            <h1 class="mb16 mb-xs-16 large banner-title" style='font-size:48px;'>
              Pastor Quoc: The Courageous Are Chosen</h1>
            <h6 class="uppercase lead">5/5 - 5/7 週五晚上 7:30 PM / 週六晚餐 / 週日主日</h6>
            <p class="lead mb40">
              神並非專門挑選那些很厲害、很強的人做他大能的勇士；他尋找溫順恭謙、忠實守信的人與他同工，因為唯有勇氣能成就這樣的凱旋得勝。
            </p>
            
            <p>
              <b>週五晚間青年大組聚會</b>: 當天Pastor Quoc將與青年牧區三的小組以及有興趣的青年朋友一起敬拜、分享 "The Courageous Are Chosen"主題信息。</p>
                       
            <p>
              <b>週六晚餐聚會</b>: 我們正在計畫和Pastor Quoc共進晚餐的聚會，歡迎聯絡Moses傳道瞭解更多資訊。
            </p>
            <p>
              <b>
                週日上午11點主日講道
              </b>:
              Pastor Quoc 將與全教會分享 "The Arising Church”主題信息。  
            </p>
            <%= link_to event_path(:id => 15, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>
            
          </div>
        </div>
          
      </div>
        
    </li>-->
    
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="//files.nlccoc.org/uploads/library/attachment/65/dedication.jpg">
      </div>
      <div class="container v-align-transform" style='height: 387px;'>
        <div class="row">
          <div class="col-md-offset-1 col-md-10 text-center">
            <h1 class="mb40 mb-xs-16 large dedication_title" style='font-weight:300;'>新生命獻堂慶典</h1>
            <!--<h3 class="uppercase mb16" style=''>A Celebration of Dream Come True</h3>-->
            <p class="lead mb40 large mt24 dedication_desc" style=''>
              新生命「歡慶奇蹟」獻堂典禮謹訂於六月三日（週六）上午十點（九點半開始入場）舊朋友、新朋友，您都是我們最珍貴的朋友！
請預留時間，和我們一起歡慶美好奇蹟的誕生見證這美夢成真的時刻！
            </p>
            <a class="btn btn-white btn-lg inner-link" href="http://nlccrsvp.com" target='_blank'>Dedication RSVP</a>
            <p class='dedication_slogan'>Church Dedication</p>
            <div class="modal-container dedication_play">
                <div class="play-button btn-modal inline large mt-xs-0 dedication-play-button"></div>
                <div class="foundry_modal no-bg">
                    <iframe data-provider="youtube" data-video-id="1PWnjfORa1o" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="//files.nlccoc.org/uploads/library/attachment/255/bg3.jpg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb8 large uppercase equip-title jf-handyblack-w6">&nbsp;</h2>
            <h2 class="mb64 large uppercase equip-title jf-handyblack-w6 mt0">&nbsp;</h2>
            <p class=''><h1 class='jf-handyblack-w6 large'>Summer Baptism</h1> </p>
            <p class='title-joel'>暑假受洗典禮</p>
            
            <p class='time-joel'>7/30 主日崇拜時間</p>
            <p class='desc-joel'>有興趣的弟兄姊妹，請與你的小組長報名</p>
            <a class="btn btn-white btn-lg mb32 mt24 inner-link" target='_blank' href="https://www.nlccoc.org/events/19">詳細內容</a>
          </div>
        
        </div>
      </div>
    </li>

    <!--    <li class="overlay image-bg">-->
<!--      <div class="background-image-holder">-->
<!--        <img alt="image" class="background-image" src="//files.nlccoc.org/uploads/library/attachment/344/gls.jpg">-->
<!--      </div>-->
<!--      <div class="container v-align-transform">-->
<!--        <div class="row">-->
<!--          <div class="col-sm-12 text-center">-->
<!--            <h1 class="mb16 large banner-title nlcc-title gls-title">華人領導力論壇</h1>-->
<!--            <h1 class="mb16 large banner-title nlcc-title gls-title">Global Leadership Summit</h1>-->
<!--            <h2 class="mb32  large banner-title nlcc-title gls-sub-title">Friday-Saturday, March 9-10, 2018</h5>-->
<!--            <a class="btn btn-white btn-lg mb32 mt24" href="https://www.nlccoc.org/events/31">詳 情 請 見</a>-->
<!--            <a class="btn btn-white btn-lg mb32 mt24" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScgHmMIscSj-lsIrPI2-0b9ksPl7mB0mJsnz4P2YRCMJLWmhA/viewform?c=0&w=1&usp=mail_form_link">新 生 命 會 員 限 定 報 名 專 區 <i class="fa fa-play" style='font-suze: 14px;margin-left: 10px, pointer: cursor;'></i></a> -->
            
<!--            <p style="font-size: 16px; text-align: left;">全球領袖高峰會議（華人領導力論壇）23年來已成為全球最重要的領袖研習會。今年預計將有128個國家、60種語言、40萬人透過現場/衛星直播和翻譯參與這個世界級的領導力課程。我們很榮幸成為今年在OC的協辦單位，讓大家得以透過大螢幕（全程英文發音、中文字幕）和互動學習現場，人人都可成為超越巔峰的卓越領袖！為了鼓勵大家參與和成長，教會特別設立補助方案，原價$60，新生命會員獨享$25（僅限新生命會員，繳費請至 https://tithe.ly/give?c=96410 並於 Note/Memo 部分註明 GLS 註冊）。 時間：3/9 週五 7:30PM ~ 9:45PM 3/10 週六 9AM ~ 4PM。-->

<!--</p>-->
<!--          </div>-->
<!--        </div>  -->
<!--      </div>-->
        
<!--    </li>-->
<!--    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="//files.nlccoc.org/uploads/library/attachment/284/equip_bg.jpg">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <h1 class="mb16 mb-xs-16 large banner-title" style='font-size:48px;'>
              <div>裝備課程：</div>哥林多前書研究</h1>
            <h6 class="uppercase lead">9/17 - 11/26 每周日上午 9:50 - 10:50</h6>
            <h6 class="uppercase lead">教會到底要怎麼
              <span class='afupop05'>亂</span>
              <span class='jf-handyblack-w6' style='font-style: italic; color: #f2784b !important;'><b>RUN</b></span> 
            </h6>
            <p class="lead mb40">
              
            </p>
            <p>談到教會的建造時，會想到哥林多前書的人大概不多，畢竟，哥林多教會可是聖經中數一數二的「精彩」教會，隨處可見各式各樣令人嘆息的錯謬與混亂，然而正因哥林多信徒徹底凸顯了教會生活當中可能產生的問題，反而讓我們有機會看到使徒保羅解決問題與建立教會的牧養功力；保羅在這卷書信中，闡明了小組牧者精神的典範，幫助你調準牧養的焦點，教會生活失去信心，本書也將幫助你重新找到「不絕望」的理由，進而活出神兒女應有的榮耀。</p>
          </div>
        </div>
      </div>
    </li>
    <li class="overlay image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="//files.nlccoc.org/uploads/library/attachment/261/bg55.jpg">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <h1 class="mb16 mb-xs-16 large banner-title" style='font-size:48px;'>
              <div>愛鄰 EQ 情商講堂：</div>高 EQ 的說話方式</h1>
            <h6 class="uppercase lead">11/18 週六 早上 10:00</h6>
            <p class="lead mb40">
              
            </p>
            <p>報名單堂：第一人 15 元   第二第三人均為 12 元，第四第五人以上皆為 10 元，沒有人數上限！</p>
            <%= link_to event_path(:id => 22, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>&nbsp; <a class="btn btn-white mb32 inner-link" href="https://goo.gl/forms/Bxf2cuRhB23YC6oF2">報名參加</a>
          </div>
        </div>
          
      </div>
        
    </li>
    -->
    
    
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="//files.nlccoc.org/uploads/library/attachment/227/bg-class.jpg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb8 large uppercase equip-title jf-handyblack-w6">2017 R.E.A.L. 裝備課程</h2>
            <h2 class="mb64 large uppercase equip-title jf-handyblack-w6 mt0">讓屬靈生命成為真實的經驗</h2>
            <p class='title-joel' style='text-transform: uppercase'>Holy Spirit</p>
            <p class='book-joel' style='margin-top:10px;'><span class='temp-luke-title' >從路加福音看聖靈工作</span></p>
            <div class="text-center modal-container">
              <a class="btn btn-white btn-lg mb32 mt24 inner-link" href="https://www.nlccoc.org/events/16">詳細內容</a> 
            
            <p class='desc-joel' style='margin-top: 5%;'>時間：6/4 - 8/27 每週日早上9:50~10:50</p>
            <p class='desc-joel'>地點：M1 教室</p>
            <p class='desc-joel'>講員：陳鳳梅師母</p>
          </div>
        
        </div>
      </div>
    </li>
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Yellowtail" rel="stylesheet" />
    <style>
      .tonykim-temp-style{
        font-family: 'Satisfy', cursive;
        font-weight: 100;
        font-size: 48px;
        letter-spacing: 16px;
        font-style: italic;
        color: #FFD700 !important;
      }
      
      .tony-kim-date {
         text-align: left;
         display: block;
         font-size: 24px;
         line-height: 30px;
         font-weight: 600;
         letter-spacing: 3px;
      }
      .tony-kim-date-right {
        text-align: right;
      }
    </style>
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="//files.nlccoc.org/uploads/library/attachment/266/tonykim5.jpg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb8 large uppercase tonykim-gift-title">
              <div style='line-height:10px;'><i class='ti-angle-down'></i></div><div>HOLY SPIRIT</div><div>聖靈恩賜的啟動</div>
              <div style='line-height:10px;'><i class='ti-angle-down'></i></div><div>WORSHIP</div><div>先知性的敬拜</div>
              <div style='line-height:10px;'><i class='ti-angle-down'></i></div><div>PRAYER</div><div>禱告的大能</div>
            </h2>
            
            <p class=''><h1 class='datl3 tonykim-main-title'>新酒新皮袋</h1>
            <h2 class='tonykim-temp-style'>New Wine &New Wine Skin</h2></p>
            <h2 class="mb8 large uppercase tonykim-gift-title" style='margin-top: 0px;'><div style='line-height:10px;'>金東尼 (Rev. Tony Kim) 牧師</div></h2>
            <div style='width: 50%; float: left;padding-left: 20%; margin-top: 80px;'>
              <div class='tony-kim-date'>AUGUST</div>
              <div class='tony-kim-date'>25.26.27</div>
              <div class='tony-kim-date'>2017</div>
              <div class='tony-kim-date' style='margin-top: 30px;'><%= link_to event_path(:id => 23, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %></div>
            </div>
            <div style='width: 50%; float: right;padding-right: 10%; margin-top: 80px;'>
              <div class='tony-kim-date tony-kim-date-right'>雙語聚會</div>
              <div class='tony-kim-date tony-kim-date-right'>BILINGUAL</div>
              <div class='tony-kim-date tony-kim-date-right'>CONFERENCE</div>
            </div>
              
            <h2 class="large uppercase tonykim-gift-title">&nbsp;</h2>
            <p class='time-joel'></p>
            <p class='desc-joel'></p>
            
            <!--<a class="btn btn-white btn-lg mb32 mt24 inner-link" target='_blank' href="https://www.nlccoc.org/events/19">aaa</a>-->
          </div>
        
        </div>
      </div>
    </li>
    
    
        
    
    <li class="overlay image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="//files.nlccoc.org/uploads/library/attachment/259/home33-a7d194b9000105d810f83f74417922b58e4a9108c679e5f0f497be87adbcbc88.jpg">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <h1 class="mb16 mb-xs-16 large banner-title" style='font-size:48px;'>
              <div>愛鄰 EQ 情商講堂：</div>成為不被情緒控制的 EQ 高手</h1>
            <h6 class="uppercase lead">8/19 週六 早上 10:00</h6>
            <p class="lead mb40">
              
            </p>
            <p>報名單堂：第一人 15 元   第二第三人均為 12 元，第四第五人以上皆為 10 元，沒有人數上限！</p>
            <%= link_to event_path(:id => 20, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>&nbsp; <a class="btn btn-white mb32 inner-link" href="https://goo.gl/forms/Bxf2cuRhB23YC6oF2">報名參加</a>
          </div>
        </div>
          
      </div>
        
    </li>
    <li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="//files.nlccoc.org/uploads/library/attachment/260/bg22-c58b58cb54b9aca825883dddacecf348a14d409e7277c9f10b66d47130e6349e.jpg">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb16 large uppercase banner-title kids-webinar-title">愛鄰 EQ 情商講堂：提升挫折復元力，擁有好情緒 </h2>
            <h5 class="uppercase mb16">9/30 週六 早上 10:00AM - 12:00PM </h5>
            <p style='font-size:16px;'>地點: <span style='color: #f2784b;'>新生命靈糧堂</span></p>
            <p style='font-size:16px;'><a href="https://goo.gl/maps/uYbf9v6Ygd62" target="_blank"><i style='color: #f2784b;' class="ti-location-pin"></i> 1518 Brookhollow Dr. Santa Ana, CA, 92705</a></p>
            <p style='margin-bottom:64px;'><span><a href='tel:+19499238889'>949.923.8889</a> | <a href='mailto: iLink1518USA.gmail.com'>iLink1518USA@gmail.com</a>‬</span></p>
            <div class="text-center">
              <%= link_to event_path(:id => 21, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>&nbsp; <a class="btn btn-white mb32 inner-link" href="https://goo.gl/forms/Bxf2cuRhB23YC6oF2" target='_blank'>報名參加</a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <!--<li class="overlay image-bg">
      <div class="background-image-holder paraOn">
        <img alt="image" class="background-image" src="//files.nlccoc.org/uploads/library/attachment/68/equip123-bg.jpg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="mb8 large uppercase equip-title jf-handyblack-w6">2017 R.E.A.L. 裝備課程</h2>
            <h2 class="mb64 large uppercase equip-title jf-handyblack-w6 mt0"></h2>
            <p class='book-joel'>The Book of Joel <span class='temp-joel-title'>浩劫餘生</span></p>
            <p class='title-joel'>約珥書</p>
            
            <p class='time-joel'>4/30 9:50AM-10:50AM @ M1</p>
            <p class='desc-joel'>一起來認識這位透視末後大災難的先知</p>
          </div>
        
        </div>
      </div>
    </li>-->