<li class="overlay image-bg">
  <div class="background-image-holder paraOn">
    <img alt="image" class="background-image" src="<%= asset_path('bg22.jpg') %>">
  </div>
  <div class="container v-align-transform">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="mb16 large uppercase banner-title kids-webinar-title">親子講堂：如何培養孩子忍受挫折和解決問題的能力</h2>
        <h5 class="uppercase mb16">4/15 週六 早上 10:00 - 12:00 </h5>
        <p style='font-size:16px;'>地點: 新生命靈糧堂 ( 新住址! )</p>
        <p style='font-size:16px; margin-bottom:64px'>1518 Brookhollow Dr. Santa Ana, CA, 92705</p>
        <div class="text-center">
          <%= link_to event_path(:id => 12, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>&nbsp; <a class="btn btn-white mb32 inner-link" href="https://goo.gl/forms/CVYGniBB9VkZNWcU2" target='_blank'>報名參加</a>
        </div>
      </div>
    
    </div>
  </div>
</li>
<!--<li class="overlay image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="<%= asset_path('home33.jpg') %>">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <h1 class="mb16 mb-xs-16 large banner-title" style='font-size:48px;'>
              <div>親子講堂：</div>如何幫助孩子獨立負責任</h1>
            <h6 class="uppercase lead">2/18 週六 早上 11:20</h6>
            <p class="lead mb40">
              國際愛鄰協會再次邀請了大受歡迎的電台親子節目名住持人王祈老師與我們分享 0 ~ 12 歲兒童教養議題。
            </p>
            <p>報名單堂：一堂15元</p>
            <%= link_to event_path(:id => 12, :locale => I18n.locale), :class => 'btn btn-white mb32 inner-link' do %>詳細內容<% end %>&nbsp; <a class="btn btn-white mb32 inner-link" href="#">報名參加</a>
          </div>
        </div>
          
      </div>
        
    </li>-->
    
    <!--<li class="overlay image-bg">
      <div class="background-image-holder">
        <img alt="image" class="background-image" src="<%= asset_path('home22.jpg') %>">
      </div>
      <div class="container v-align-transform">
        <div class="row">
          <div class="col-md-6 col-sm-8">
            <h1 class="mb40 mb-xs-16 large">New Life Christian Center</h1>
            <h6 class="uppercase mb16">Get Suppliers outside, find Jesus inside.</h6>
            <p class="lead mb40" style='font-style: italic;'>
              I am the way and the truth and the life. No one comes to the Father except through me<span class='bible'> ~ John 14:6.</span>
            </p>
            <a class="btn btn-lg" href="#">Start Exploring</a>
          </div>
        </div>
      </div>
    </li>-->