<section class="fullscreen cover parallax image-bg overlay">
  <div class="background-image-holder" data-parallax="scroll" data-image-src="<%= asset_path('music1.jpg') %>">
    <img alt="image" class="background-image" src="<%= asset_path('bg2.jpg') %>" />
  </div>
  <div class="container v-align-transform">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="mb16 large uppercase" style='font-weight: 500;'>New Life Christian Center</h2>
        <h5 class="uppercase mb32">Connect with Us</h5>
        <!--<div class="modal-container mb0">
            <div class="play-button btn-modal inline large mt-xs-0"></div>
            <div class="foundry_modal no-bg">
                <iframe data-provider="vimeo" data-video-id="25737856" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>-->
        <!--end of modal video-->
      </div>
  </div>
  <!--end of row-->
</div>
  <!--end of container-->
  <div class="align-bottom text-center hidden-xs">
  <a class="btn btn-white mb32" href="#">Connect</a></a>
    <ul class="list-inline social-list mb64">
      <li>
        <a href="#">
          <i class="ti-instagram"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ti-facebook"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ti-soundcloud"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ti-vimeo-alt"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="align-bottom text-center hidden-xs">
    <a class='inner-link one-page-arrow' href='#whoweare'><i class="icon-angle-down infinite animated fadeInDown"></i></a>
  </div>
</section>

<section class="">
  <div class="container" id="whoweare">
      <div class="row">
          <div class="col-sm-10 col-sm-offset-1 text-center">
              <h3 class="uppercase mb40 mb-xs-24">Who We Are</h3>
              <p class="lead mb64">
                  神呼召我們在北美建立一個與眾不同的教會。我們是一個負有特定使命、帶動復興的小組教會。我們期待成為一個教會的典範。靠著神的恩典，我們必須成為一個
              </p>
          </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="projects p0 bg-dark">
  <!--<ul class="filters floating cast-shadow mb0">
  </ul>-->
  <div class="row masonry-loader fixed-center">
    <div class="col-sm-12 text-center">
      <div class="spinner"></div>
    </div>
  </div>
  <div class="row masonry masonryFlyIn">
    <div class="col-md-3 col-sm-6 masonry-item project" data-filter="People">
      <div class="image-tile inner-title hover-reveal text-center">
        <a href="#">
          <img alt="Pic" src="<%= asset_path('who2.jpg') %>" />
          <div class='thumb-title'>
            <h5 class="uppercase mb0">Passion</h5>
            <span>充滿熱情的教會</span>
          </div>
          <!--<div class="title">
            <h5 class="uppercase mb0">Passion</h5>
            <span>充滿熱情的教會</span>
          </div>-->
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 masonry-item project" data-filter="Animals">
      <div class="image-tile inner-title hover-reveal text-center">
        <a href="#">
          <img alt="Pic" src="<%= asset_path('who1.jpg') %>" />
          <div class='thumb-title'>
            <h5 class="uppercase mb0">Generation to Generation</h5>
            <span>代代相傳的教會</span>
          </div>
          <!--<div class="title">
            <h5 class="uppercase mb0">Generation to Generation</h5>
            <span>代代相傳的教會</span>
          </div>-->
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 masonry-item project" data-filter="People">
      <div class="image-tile inner-title hover-reveal text-center">
        <a href="#">
          <img alt="Pic" src="<%= asset_path('who5.jpg') %>" />
          <div class='thumb-title'>
            <h5 class="uppercase mb0">Compassion</h5>
            <span>充滿憐憫的教會</span>
          </div>
          <!--<div class="title">
            <h5 class="uppercase mb0">Compassion</h5>
            <span>充滿憐憫的教會</span>
          </div>-->
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 masonry-item project" data-filter="Objects">
      <div class="image-tile inner-title hover-reveal text-center">
        <a href="#">
          <img alt="Pic" src="<%= asset_path('who6.jpg') %>" />
          <div class='thumb-title'>
            <h5 class="uppercase mb0">Mission</h5>
            <span>注重宣教的教會</span>
          </div>
          <!--<div class="title">
            <h5 class="uppercase mb0">Mission</h5>
            <span>注重宣教的教會</span>
          </div>-->
        </a>
      </div>
    </div>
    <!--<div class="col-md-3 col-sm-6 masonry-item project" data-filter="Objects">
        <div class="image-tile inner-title hover-reveal text-center">
            <a href="#">
                <img alt="Pic" src="<%= asset_path('project-single-4.jpg') %>" />
                <div class="title">
                    <h5 class="uppercase mb0">Summer Lovin'</h5>
                    <span>Objects / Food</span>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 masonry-item project" data-filter="People">
          <div class="image-tile inner-title hover-reveal text-center">
              <a href="#">
                  <img alt="Pic" src="<%= asset_path('project-single-6.jpg') %>" />
                  <div class="title">
                      <h5 class="uppercase mb0">Thick Fog</h5>
                      <span>People / Life</span>
                  </div>
              </a>
          </div>
      </div>-->
  </div>
  <!--end of row-->
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="uppercase mb40 mb-xs-24" id='connect'>Connect</h2>
        <p class="lead mb64">
          Spiritual maturity is for everyone — no matter what your age is
        </p>
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="image-tile outer-title text-center">
          <img alt="Pic" src="<%= asset_path('cellgroups.jpg') %>" />
          <div class="title mb16">
              <h5 class="uppercase mb0">細胞小組</h5>
              <span>尋找一個小組並扎根</span>
          </div>
          <p class="mb0">
              小組是教會生活的機元組織，在小組中組員得到牧養、受裝備去參與服事、以及彼此造就。小組的二大宗旨是對內彼此造就，對外傳福音；透過群體及關係來為主得人，完成大使命。
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="image-tile outer-title text-center">
              <img alt="Pic" src="<%= asset_path('youngadults.jpg') %>" />
              <div class="title mb16">
                  <h5 class="uppercase mb0">青年團契</h5>
                  <span>讓年輕人一同成長，學習服侍</span>
              </div>
              <p class="mb0">
                讓年輕人在 神的帶領下一同成長，一起歡樂，一起侍奉 神。在交友，戀愛、婚姻等人生大事上，有好的見證和榜樣。 
              </p>
          </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="image-tile outer-title text-center">
            <img alt="Pic" src="<%= asset_path('children.jpg') %>" />
            <div class="title mb16">
                <h5 class="uppercase mb0">兒童主日</h5>
                <span>讓孩子在神國度中成長</span>
            </div>
            <p class="mb0">
              藉由聖經故事的分享，使學生看到聖經中的主角是神。並把神的話語紮根在孩子心中，成為一生的行為準則。另外透過老師們的身教示範，以及和孩子建立關係，讓孩子學習敬畏神、愛神等美好的態度。
            </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section>
  <div class="container" id='events'>
      <div class="row">
          <div class="col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-12">
              <div class="feature bordered pb160 pb-xs-0">
                  <h3 class="large uppercase mb64 mb-xs-24">Events & Conferences</h3>
                  <p class="mb80 mb-xs-24">
                    主日資訊 | 裝備課程 | 教會活動 | 小組動態
                  </p>
                  <a class="btn btn-lg btn-filled inner-link" href="#book-table">尋找更多活動</a>
              </div>
          </div>
          <div class="col-sm-4">
            <!--<img class="" alt="Pic" src="<%= asset_path('event_parenting-1.jpg') %>" />-->
            <img class="mt80 mt-xs-0 mb24" alt="Pic" src="<%= asset_path('event_301-3.jpg') %>" />
            <img class="col-md-pull-4 relative" alt="Pic" src="<%= asset_path('event_ipromise-0.jpg') %>" />
              
          </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class='page-title page-title-3 image-bg overlay'>
  <div class="background-image-holder">
    <img alt="Background Image" class="background-image" src="<%= asset_path('mission-cover.jpg') %>" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center" id='ministries'>
        <h3 class="uppercase mb0" style='font-weight:500;'>Ministries</h3>
      </div>
    </div>
    <!--end of row-->
  </div>
</section>
<section class="portfolio-pullup">
  <div class="container">
    <div class="row row-gapless masonry masonryFlyIn">
      <div class="col-md-3 col-sm-4 masonry-item project" data-filter="">
          <div class="image-tile inner-title hover-reveal text-center">
              <a href="#">
                  <img alt="Pic" src="<%=asset_path('worship.jpg') %>" />
                  <div class="title">
                      <h5 class="uppercase mb0">敬拜事工</h5>
                      <span>敬拜、讚美</span>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-md-3 col-sm-4 masonry-item project" data-filter="">
          <div class="image-tile inner-title hover-reveal text-center">
              <a href="#">
                  <img alt="Pic" src="<%=asset_path('equipping.jpg') %>" />
                  <div class="title">
                      <h5 class="uppercase mb0">裝備事工</h5>
                      <span>裝備事工</span>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-md-3 col-sm-4 masonry-item project" data-filter="">
          <div class="image-tile inner-title hover-reveal text-center">
              <a href="#">
                  <img alt="Pic" src="<%=asset_path('prayer.jpg') %>" />
                  <div class="title">
                      <h5 class="uppercase mb0">禱告事工</h5>
                      <span>禱告事工</span>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-md-3 col-sm-4 masonry-item project" data-filter="">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img alt="Pic" src="<%=asset_path('prayer2.jpg') %>" />
                    <div class="title">
                        <h5 class="uppercase mb0">宣教事工</h5>
                        <span>宣教事工</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section>
  <div class="container" id='section-media'>
    <div class="row">
      <div class="col-sm-12" id='media'>
        <h3 class="uppercase">Media</h3>
        <hr />
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div id='owl-carousel-media' class='owl-carousel'>
        <div class="entry-image">
					<iframe width="560" height="315" src="//www.youtube.com/embed/ZKNiQPLZHMQ" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="entry-image">
					<iframe width="560" height="315" src="//www.youtube.com/embed/Bu9T-tVh42A" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="entry-image">
					<iframe width="560" height="315" src="//www.youtube.com/embed/smwlJOlGo8g" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="entry-image">
					<iframe width="560" height="315" src="//www.youtube.com/embed/QBj9o76Y9dg" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="entry-image">
					<iframe width="560" height="315" src="//www.youtube.com/embed/bJt86fI7138" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="entry-image">
					<iframe width="560" height="315" src="//www.youtube.com/embed/ZKNiQPLZHMQ" frameborder="0" allowfullscreen></iframe>
				</div>
      </div>
    </div>
    <div class='row'>
      <h4>最新講道錄音</h4>
      <div class='audio_title mb16'>家庭保衛戰</div>
        <audio controls>
          <source src="http://www.nlccoc.org/uploadfolder/doc_audiosermon//563__2016-08-07.mp3" type="audio/mp3">\
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
  </div>
  <!--end of container-->
</section>
            
  