<%= form_for(@mvideo) do |f| %>
  <% if @mvideo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mvideo.errors.count, "error") %> prohibited this mvideo from being saved:</h2>

      <ul>
      <% @mvideo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
