<!DOCTYPE html>
<html ng-app='nlcc'>
<head>
  <title>新生命靈糧堂 | New Life Christian Center of Orange County  </title>
  <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'shared/irvine/meta_tags'%>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true, async: true %>
  <%= javascript_include_tag 'https://tithe.ly/widget/v2/give.js?3', async: true %>
  <%# javascript_include_tag 'https://www.google.com/recaptcha/api.js', async: true %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript">
    var I18n = {};
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    I18n.locales={};
    I18n.locales.no = 'en';
    I18n.currentLocale();
    
    
    
    window.BrowserTZone || (window.BrowserTZone = {});
    BrowserTZone.setCookie = function() {
      return Cookies.set("browser.timezone", jstz.determine().name(), {
        expires: 365,
        path: '/'
      });
    };
    
    jQuery(function() {
      return BrowserTZone.setCookie();
    });
    
    <%= render 'shared/main/justfont'%>
    <%= render 'shared/main/googleanalytics' %>

  </script>
</head>
<body>
  <% if content_for?(:laverne_navbar) %>
    <!--To show the La Verne page navbar-->
    <%= yield(:laverne_navbar) %>
  <% else %>
    <!--Use default navbar-->
    <%= yield(:default_navbar) %>
  <% end %>
  
  <!-- Loader Spinner -->
  <div id="loader-wrapper">
    <div id="spinner"></div>
  </div>
  <!-- End of Loader Spinner -->
  
  <!-- Yield main controller view -> views/main -->
  <%= yield %>
  <!-- End of main controller view -->
  
  <% if content_for?(:laverne_navbar) %>
    <%= render 'shared/main/laverne_footer'%>
  <% else %>
    <%= render 'shared/main/footer'%>
  <% end %>
  <%= render 'shared/main/quicknav' %>

  <!-- Go To Top button -->
  <a href='#top' class='inner-link'><div id="gotoTop" class="icon-angle-up hide"></div></a>
  <%= javascript_include_tag 'parallax', 'data-turbolinks-eval': true %>
  <!-- End of Go To Top button -->

</body>
</html>
