<!DOCTYPE html>
<html ng-app='nlcc'>
<head>
  <title>New Life Christian Center 新生命靈糧堂</title>
  <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%# I18n.available_locales = [:en, :zh, :cn]%>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    I18n.locales.no = 'en'
    I18n.currentLocale();

    var _jf = _jf || [];_jf.push(['p','45036']);_jf.push(['_setFont','xingothic-tc-w8','css',' .xingothic-tc-w8']);_jf.push(['_setFont','xingothic-tc-w8','alias','xingothic-tc']);_jf.push(['_setFont','xingothic-tc-w8','english','Raleway']);_jf.push(['_setFont','xingothic-tc-w8','weight',800]);_jf.push(['_setFont','xingothic-tc-w3','css','.xingothic-tc-w3']);_jf.push(['_setFont','xingothic-tc-w3','alias','xingothic-tc']);_jf.push(['_setFont','xingothic-tc-w3','english','Raleway']);_jf.push(['_setFont','xingothic-tc-w3','weight',300]);_jf.push(['_setFont','xingothic-sc-w6','css','.xingothic-sc-w6']);_jf.push(['_setFont','xingothic-sc-w6','alias','xingothic-sc']);_jf.push(['_setFont','xingothic-sc-w6','english','Raleway']);_jf.push(['_setFont','xingothic-sc-w6','weight',600]);_jf.push(['_setFont','xingothic-sc-w4','css','.xingothic-sc-w4']);_jf.push(['_setFont','xingothic-sc-w4','alias','xingothic-sc']);_jf.push(['_setFont','xingothic-sc-w4','english','Raleway']);_jf.push(['_setFont','xingothic-sc-w4','weight',400]);_jf.push(['_setFont','xingothic-tc-w5','css','.xingothic-tc-w5']);_jf.push(['_setFont','xingothic-tc-w5','alias','xingothic-tc']);_jf.push(['_setFont','xingothic-tc-w5','english','Raleway']);_jf.push(['_setFont','xingothic-tc-w5','weight',500]);(function(f,q,c,h,e,i,r,d){var k=f._jf;if(k.constructor===Object){return}var l,t=q.getElementsByTagName("html")[0],a=function(u){for(var v in k){if(k[v][0]==u){if(false===k[v][1].call(k)){break}}}},j=/\S+/g,o=/[\t\r\n\f]/g,b=/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g,g="".trim,s=g&&!g.call("\uFEFF\xA0")?function(u){return u==null?"":g.call(u)}:function(u){return u==null?"":(u+"").replace(b,"")},m=function(y){var w,z,v,u,x=typeof y==="string"&&y;if(x){w=(y||"").match(j)||[];z=t[c]?(" "+t[c]+" ").replace(o," "):" ";if(z){u=0;while((v=w[u++])){if(z.indexOf(" "+v+" ")<0){z+=v+" "}}t[c]=s(z)}}},p=function(y){var w,z,v,u,x=arguments.length===0||typeof y==="string"&&y;if(x){w=(y||"").match(j)||[];z=t[c]?(" "+t[c]+" ").replace(o," "):"";if(z){u=0;while((v=w[u++])){while(z.indexOf(" "+v+" ")>=0){z=z.replace(" "+v+" "," ")}}t[c]=y?s(z):""}}},n;k.push(["_eventActived",function(){p(h);m(e)}]);k.push(["_eventInactived",function(){p(h);m(i)}]);k.addScript=n=function(u,A,w,C,E,B){E=E||function(){};B=B||function(){};var x=q.createElement("script"),z=q.getElementsByTagName("script")[0],v,y=false,D=function(){x.src="";x.onerror=x.onload=x.onreadystatechange=null;x.parentNode.removeChild(x);x=null;a("_eventInactived");B()};if(C){v=setTimeout(function(){D()},C)}x.type=A||"text/javascript";x.async=w;x.onload=x.onreadystatechange=function(G,F){if(!y&&(!x.readyState||/loaded|complete/.test(x.readyState))){y=true;if(C){clearTimeout(v)}x.src="";x.onerror=x.onload=x.onreadystatechange=null;x.parentNode.removeChild(x);x=null;if(!F){setTimeout(function(){E()},200)}}};x.onerror=function(H,G,F){if(C){clearTimeout(v)}D();return true};x.src=u;z.parentNode.insertBefore(x,z)};a("_eventPreload");m(h);n(r,"text/javascript",false,3000)})(this,this.document,"className","jf-loading","jf-active","jf-inactive","//d3gc6cgx8oosp4.cloudfront.net/js/stable/v/5.0.3/id/145861356125");    
  </script>
  
  <%= content_for :javascript do %>
  
    <script type="text/javascript" src="<%= asset_path('flexslider.min.js') %>"></script>
    <script type="text/javascript" src="<%= asset_path('parallax.js') %>"></script>
    <script type="text/javascript" src="<%= asset_path('scripts.js') %>"></script>
  <% end %>
</head>
<body>
<%= render 'shared/main/header' %>
<div id="loader-wrapper">
  <div id="spinner"></div>
</div>
<%= yield %>
<%= render 'shared/main/footer'%>
<a href='#top' class='inner-link'><div id="gotoTop" class="icon-angle-up hide"></div></a>

</body>
</html>
