<!DOCTYPE html>
<html ng-app='nlcc'>
<head>
  <title>Workspace</title>
  <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller='homeCtrl' class='scroll-assist'>
<%= render 'shared/main/header' %>
<%= yield %>
<%= render 'shared/main/footer'%>

</body>
</html>
