<!DOCTYPE html>
<html ng-app='nlcc'>
<head>
  <title>New Life Christian Center 新生命靈糧堂</title>
  <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    I18n.locales.no = 'en'
    I18n.currentLocale();
  </script>
  
  <%= content_for :javascript do %>
  
    <script type="text/javascript" src="<%= asset_path('flexslider.min.js') %>"></script>
    <script type="text/javascript" src="<%= asset_path('parallax.js') %>"></script>
    <script type="text/javascript" src="<%= asset_path('scripts.js') %>"></script>
  <% end %>
</head>
<body>
<%= render 'shared/main/header' %>
<div id="loader-wrapper">
  <div id="spinner"></div>
</div>
<%= yield %>
<%= render 'shared/main/footer'%>
<a href='#top' class='inner-link'><div id="gotoTop" class="icon-angle-up hide"></div></a>

</body>
</html>
