<!DOCTYPE html>
<html ng-app='nlcc'>
<head>
  <title>New Life Christian Center 新生命靈糧堂</title>
  <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= Gon::Base.render_data %>
  <!--<script src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-45036.js"></script>-->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    I18n.locales.no = 'en'
    I18n.currentLocale();
  </script>
</head>
<body ng-controller='homeCtrl' class='scroll-assist {{responsiveClass}}' ng-class="{'loaded':loaded}">
<%= render 'shared/main/header' %>
<div id="loader-wrapper">
  <div id="spinner"></div>
</div>
<%= yield %>
<%= render 'shared/main/footer'%>
<a href='#top' class='inner-link'><div id="gotoTop" class="ng-animate icon-angle-up" ng-show='goToTop'></div></a>

</body>
</html>
