<!DOCTYPE html>
<html ng-app='nlcc'>
<head>
  <title>新生命靈糧堂 / New Life Christian Center </title>
  <%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'shared/irvine/meta_tags'%>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://tithe.ly/widget/v2/give.js?3' %>
  <%= javascript_include_tag 'https://www.google.com/recaptcha/api.js' %>
  <%= csrf_meta_tags %>
  
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
    I18n.locales.no = 'en';
    I18n.currentLocale();
    
    <%= render 'shared/main/justfont'%>
    <%= render 'shared/main/googleanalytics' %>
    
  </script>
</head>
<body>
<%= render 'shared/main/sndheader' %>
<div id="loader-wrapper">
  <div id="spinner"></div>
</div>
<%= yield %>
<%= render 'shared/main/sndfooter'%>
<%= render 'shared/main/quicknav' unless current_page?(bible_search_path)%>
<a href='#top' class='inner-link'><div id="gotoTop" class="icon-angle-up hide"></div></a>
<%= javascript_include_tag 'parallax', 'data-turbolinks-eval': false %>

</body>
</html>
